[2013-11-11 02:08] Xandaros opened #1 "Net message only arrives on one screen"
The way the net library is implemented right now, a net message can only ever be read by one screen, even though the hook is triggered for all screens.

This is because the library functions provide direct access to the gmod net library functions.

[2013-11-11 02:25] daranable opened #2 "Coroutines for Starfall processors."
Wrap all Starfall processors in coroutines.  Allowing for pausing and resuming of scripts using the coroutines.

[2013-11-11 02:49] daranable opened #3 "New include system using coroutines."
Can not be implemented till #2.

Include will become a function in starfall, when the function is called the script's coroutine will yield it's running to retrieve this new script.

We will try to preemptively attempt to detect people using the include function, and send it up with the initial script.  If they have for whatever reason desided to reassign the name of the function and we don't trace

[2013-11-11 14:06] Xandaros opened #7 "Change codestyle according to guidelines"
Currently the codestyle is inconsistent, this needs to be changed...
- [x] Hologram entity
- [x] Processor entity
- [x] Screen entity
- [x] Processor STool
- [x] Screen STool
- [x] ents lib cl
- [x] render lib cl
- [x] builtins lib sh
- [x] ents lib sh
- [x] files lib sh
- [x] find lib sh
- [x] globaltables lib sh
- [x] holograms lib sh
- [x] hook lib sh
- [x] net lib sh
- [x] players lib sh
- [ ]

[2013-11-12 18:44] Xandaros commented on #7
Feel free to help me out, choose one or more files, leave a comment here and pull request it into https://github.com/Xandaros/Starfall/tree/codestyle

Might want to wait till we have the code style set in stone, though...

Edit: In fact, I'm going to put this on hold until then

[2013-11-12 23:17] daranable commented on #7
We should talk about this ASAP.  as if there are significant changes to any files I am working on for coroutines then merging them will be annoying at best.

[2013-11-13 08:57] Xandaros commented on #7
Yes, I can see that being a problem...
I suggest we finish any development and then get the code according to guidelines. Which means it might still be a while, don't know how far you are with your coroutines...

[2013-11-13 09:06] daranable commented on #7
Actually, I haven't done much.  If you get the core files up to standards asap, that will probably be better, and then I'll get the coroutines going..

[2013-11-13 09:13] awilliamson commented on #7
I'll try to get some done later today after meetings. Especially code which I've majorly developed, so quats/holos/vmatrix/ents/von.

[2013-11-13 12:40] Xandaros commented on #7
Ok, good.
@daranable I still need your opinion on the function argument list style, though...

[2013-11-14 16:53] daranable commented on #3
This should be possible without breaking any current scripts using includes.  As I can just use dofile as the function to include as it already is used, but have it pause the coroutine as I mentioned.

[2013-11-20 16:21] Xandaros commented on #7
I think everything is clear now, so I'll continue work on this. Too bad I can't find a decent beautifier :/

[2013-11-20 16:29] wraith321 commented on #7
Well you could define all the rules in regular expressions, that should be way faster than manual editing. NPP has basic functionality for this but there are better programs for this I guess.

[2013-11-20 16:57] Xandaros commented on #7
The problem is, that starfall does not have a uniform codestyle...
Also, apparently all my work on the codestyle so far is gone - no idea why. It's even missing locally, like I never did anything -_-

[2013-12-27 02:35] awilliamson opened #10 "Access to sensitive methods not restricted. Eg: ply:setPos()"
Players who don't have administrator privileges, if given access to Starfall, will then be able to access commands which can affect other players or are of a sensitive nature.

For the time being, whilst the permission system is being worked on, admin checks should be done in these methods.

[2013-12-28 18:24] awilliamson opened #11 "SF.Entities.Wrap still causing erroring in some cases."
sv: addons/starfall/lua/starfall/libs_sh/holograms.lua:22: attempt to index local 'obj' (a nil value)

I remember this being a huge problem earlier in development. I think because every library adds to the existing wrap function and it becomes a long chain. The fail point currently is at holograms. Further investigation needed.

[2013-12-31 13:08] awilliamson opened #12 "Add the equivalent of E2's friend write."
Allow Starfall users to edit each others scripts if on PP list, based on a convar.

[2013-12-31 18:46] awilliamson opened #13 "Render library setColor doesn't accept type Color."
Now we have the Color type we can go through and set things which are related to color to accept the new type.

[2014-01-01 00:07] Xandaros opened #14 "Add permission system"
One of the most critical things we still have to implement is the permission system.
@daranable already made a permission system here: https://github.com/daranable/Starfall/tree/permissions

As far as I can tell, this just needs to be ported to GM13 and could be considered done.
(And we need providers with some default values)

I'm probably going to start on this tomorrow if no one objects.

[2014-01-01 10:30] #11 closed, assigned to nobody

[2014-01-01 13:49] Xandaros opened #17 "sf_defaultquota is not properly shared"
For some reason, sf_defaultquota is not properly shared between clients

[2014-01-01 14:00] #13 closed, assigned to awilliamson

[2014-01-01 16:12] awilliamson opened #19 "PropCore/EntityCore would be a good addition."
As title, making a prop or entity core would be a good addition. Highly requested.

[2014-01-01 19:48] Xandaros opened #20 "Holo scale is not set properly most of the time"
Holograms usually don't scale during creation or even when using SetScale directly after creation.
Sometimes you get clientside errors, although I have no idea why you usually don't get any errors.

[2014-01-01 23:32] awilliamson commented on #20
Could be related to the rate of the holograms spawning, as we still encounter occasional instances where data isn't correctly transferred because things update too quickly ( or so it seems ).

Eg. The sync test SF script, sometimes clients see just 0 because the number wasn't sent to them in time.

[2014-01-02 00:02] Xandaros commented on #20
I know exactly why that error happens, I don't get why the scale is sometimes not set properly even though there is no error.
I'll debug that tomorrow

[2014-01-02 11:29] Xandaros commented on #20
Apparently this is not fixed, it still happens occasionally. (Though a lot rarer)

[2014-01-02 14:55] #20 closed, assigned to Xandaros

[2014-01-03 12:10] awilliamson opened #23 "Starfall Editor animation occasionally seen through map brushes."
Some people have reported seeing the falling stars animation through map brushes. I haven't seen this behaviour. If anybody has screenshots feel free to post them below, and if you can narrow down the criteria such as what type of brushes, angles, etc that would be great.

[2014-01-03 19:53] awilliamson opened #24 "SF Holograms Alpha not working. Use RenderMode on setColor func."
Holograms won't set their alpha as render mode isn't set in the set color if the alpha is less than 255.

Credits: Shadowscion

[2014-01-04 23:15] awilliamson opened #25 "setBodyGroup and setSkin for entities ( including holograms )"
As the title suggests, add these to ent methods. This was requested by shadowscion for holograms.

[2014-01-04 23:19] awilliamson opened #26 "Add disable shading function to hologram lib."
Requested by Shadowscion.

Use networked bools for the hologram entities, and use

[code]

in the ENT:Draw() function.

[2014-01-04 23:21] awilliamson commented on #19
Added ents.Create functionality, needs to be limited some more before commits are made. Whitelist for only prop_physics? Tie the system into permissions at a later date to give individuals/groups access to other classes/types of entity.

[2014-01-04 23:24] awilliamson opened #27 "Add Constraints library"
Requested by funkake a lot.

Currently limit it to the users props until the permissions system in place.

[2014-01-04 23:29] awilliamson commented on #24
Also edit ENT:Draw function to check for alpha and set render group accordingly.

[2014-01-05 10:15] awilliamson opened #28 "Render lib setColor has surface.SetDrawColor( clr ) twice."
Remove the duplicated color setting.

Credits to: Jerry ( @wraith321 )

[2014-01-05 12:00] #28 closed, assigned to nobody

[2014-01-05 12:19] awilliamson opened #30 "Add setMaterial for Entities ( extend to holograms )"
use Entity:SetMaterial( string materialName )

[2014-01-05 13:33] awilliamson opened #31 "Change Entity lib funcs to return entity for functions."
Can't remember the name of it but it allows things such as:

ent:setAngles():setPos() etc etc.

[2014-01-08 18:38] Xandaros opened #33 "Read-/Writecell doesn't work for shared screens"

[2014-01-09 11:05] funkake opened #34 "Color metamethods, not able to compare colors"
A:getColor()==Color(0,0,0)    even if A:getColor() returns 0,0,0 I am not able to compare them and get a sensible result

tested this and it worked!
    if     A:getColor()["r"]~=Color(0,0,0,0)["r"]
    and A:getColor()["g"]~=Color(0,0,0,0)["g"]
    and A:getColor()["b"]~=Color(0,0,0,0)["b"]

therefore i suspect that the color type is missing some logic metamethods

[2014-01-09 18:22] awilliamson commented on #30
Also add getMaterial with it.

[2014-01-11 14:33] awilliamson opened #36 "Remake VMatrix Lib. Fix SF.CheckType's"
Remove SF.CheckType( self, vmatrix_metamethods ).
Fix other SF.CheckType as they use "Number" and "Angle" which are incorrect.

EDIT: Fix __mul metamethod.

[2014-01-11 14:52] awilliamson commented on #34
Interesting that you use 'and' instead of 'or'. The implementation for Color's, as provided by Garry, are strictly tables only. I simply let colors be recognized as a type within Starfall code so that other functions could type check for it, without doing ridiculous clr.r and clr.g etc checks.

https://github.com/garrynewman/garrysmod/blob/ff51a59d5a821dec3c8f524631c86150b3e4744d/garrysmod/lua/inc

[2014-01-11 18:46] shadowscion opened #37 "Holos lose their scale on lag"
When a lag spike occurs, holograms revert to their original scale.

You can force the issue by typing "record 1;stop" in console.

[2014-01-16 22:57] ColonelThirtyTwo opened #38 "Merging with GmodStarfall/Starfall"
What are your plans, if any, for merging back into GmodStarfall/Starfall?

I am glad that people are developing SF since I've stepped away from Garry's Mod, but I would still like to review and discuss changes to it, which I would greatly prefer be done on the official repository. That's why I'm a bit upset that this fork just started doing its own thing while only submitting one ill-formed pull r

[2014-01-17 00:19] Xandaros commented on #38
I am really surprised to see you open an issue :D

Let me try and explain our reasoning behind the split:
When I joined Starfall on the awilliamson repo (which was the only working version of starfall), Radon said that the changes will eventually be merged into the main repo, but we (Radon, Divran and I) didn't know about any guidelines, as these were not (and still are not) clearly set or viewabl

[2014-01-17 03:35] ColonelThirtyTwo commented on #38
I'm sorry if I wasn't too clear on what to do with the pull request. I'd greatly prefer one feature per pull request (though for the library files, files and features seem to go hand in hand), but I can understand grouping a bunch of small bugfixes into one request. My bone to pick with that request was that in addition to bugfixes, it also included two new features: `GetType` replacing `type` and

[2014-01-17 03:52] awilliamson commented on #38
I perfectly understand the 'parental attachment' to the Starfall project. We're all eager to see Starfall succeed and be the most it can be. Everybody that is currently working on it really believes in its potential. I saw this potential years ago when I first came across it. It's partially why Divran and I came to you asking for your blessing on reviving Starfall.

As Xandaros said, the ethos of

[2014-01-17 18:41] ColonelThirtyTwo opened #39 "Replace Instance 'Context' with subclassing"
See also: https://github.com/GmodStarfall/Starfall/issues/139

The instance 'context' is a table of options for an instance, for example the ops limit. This was a carry-over design choice from E2 and does not work well with many options.

A more flexible approach would be to change settings by subclassing the instance and overriding the desired methods or values. This would also help libraries usi

[2014-01-17 18:42] ColonelThirtyTwo commented on #39
Here's a simple OOP library that can be adapted for gmod: https://gist.github.com/ColonelThirtyTwo/7401493

[2014-01-17 18:48] ColonelThirtyTwo opened #40 "Thin wrappers"
For entity functions in particular, wrapper functions often follow a particular pattern:

[code]

This can be simplified over several functions by using closures:

[code]

This would make wrapping functions much less tedious. Additionally, most GM methods can probably do their own argument checking.

[2014-01-19 04:42] awilliamson opened #41 "Add burst & standard rate convars to hologram lib."
Requested by Shadowscion. Thought this was already in, but must have only added the quotas for holograms.

[2014-01-20 04:25] awilliamson opened #42 "Bitdeli marker can be removed from readme."
Since Github decided to add Traffic Analytics ( rather good ones ) in 2014 we can remove the use of bitdeli for traffic analytics. The logo should now be removed from the readme.

[2014-01-22 05:10] awilliamson opened #43 "Add Lua Matricies?"
Just wondering if adding matrices as a pure Lua module would be wanted. Would allow people to do some nice stuff without having to hack their own.

https://github.com/davidm/lua-matrix/blob/master

Was recommended from lua-users.org as a matrix library which handles real, complex and symbolics.

Checked the license, it allows for modification. Standard MIT. If we modify the standard matrix. Lua fo

[2014-01-24 15:27] shadowscion opened #44 "Holograms are being rendered twice"
`ENT.RenderGroup = RENDERGROUP_BOTH`

Setting the render group to 'both' when the hologram is opaque causes the hologram to be rendered twice, drastically reducing clientside fps.

Also, the alpha component of setColor does not work for entities or holograms.

[2014-01-25 21:26] shadowscion opened #45 "Cannot upload SF code"
This error has resurfaced and can't be be fixed without a server restart. Not exactly sure how to reproduce it this time, as it wasn't me who caused it.

[2014-01-25 21:56] Xandaros commented on #45
This happens if you spawn a screen and undo it immediately, I think. Did they get an error message saying something about "CodeSent"?

If it did, I will fix this as soon as I have the time, Uni is killing me right now, sorry.

But this is hardly enough information to do any debugging, at least an error message is required. If this is a different matter, we will not be able to debug it without expe

[2014-01-26 17:05] shadowscion commented on #37
Related issue; holograms are unscaled and unclipped for players joining after the holograms were spawned.

[2014-01-26 19:17] Xandaros commented on #37
Yeah, I can imagine how the second bugs works. (In fact, I had identified it already, but forgot to open an issue. Shame on me) I have no idea how lag can cause such behaviour, though...

[2014-01-26 19:29] shadowscion commented on #37
E2 used to do it aswell; here is how they fixed it:

https://github.com/wiremod/wire/commit/b441edff1dad9a819d512bcf2dff17f44403d247

[2014-01-29 00:32] ColonelThirtyTwo commented on #43
I made the choice to use GLua's VMatrix type so that they could be used with the GLua API. Though last I checked, VMatrix was lacking a lot of functionality (I don't think there was a way to copy the matrix, or even retrieve individual cells).

As for including a Lua implementation, I don't see a need. Since SF runs Lua code, as long as the APIs match closely enough, a matrix implementation for re

[2014-01-29 15:52] ColonelThirtyTwo commented on #44
I don't think rendering the hologram models twice is seriously hurting performance. It's not like they are complex models.

The line was probably copied from E2 holograms. It may have a reason to be in both render groups, but then again, it may not.

[2014-01-29 15:53] ColonelThirtyTwo commented on #41
I don't see the point of a 'burst' mechanic to hologram spawn limiting. A simple n-holograms-per-second quota is fine.

[2014-01-29 15:57] ColonelThirtyTwo commented on #37
When a player's connection experiences a large ping/packetloss spike, the source engine sends a full state update. This probably involves re-creating entities, which would explain why some SENTs break and you hear the weapon pickup noise when you get your connection back.

[2014-01-29 15:59] Xandaros commented on #41
The idea behind the burst rate is, that holograms usually get spawned in bursts. Especially on initial spawn, people often spawn a lot of holograms at once and then never spawn any again.

For example: If you build something with holograms, you want to spawn it as quick as possible, but you don't want to spawn any holograms afterwards. But there are also cases where you want to continuously spawn

[2014-01-29 16:01] Xandaros commented on #44
Even if it doesn't hurt performance too much, if it isn't necessary, it isn't necessary, is it? :)

[2014-01-29 16:58] ColonelThirtyTwo commented on #41
But is that worth the complexity of implementing a burst limiter? IMO I don't really think it is.

[2014-01-29 17:54] Xandaros commented on #41
Where is  the problem with it? It's already implemented if you mean that, Radon just forgot to make the rate adjustable by providing a convar, that's what this is about.

[2014-01-29 18:11] ColonelThirtyTwo commented on #41
Oh, I didn't realize it was already implemented.

[2014-01-30 02:59] shadowscion commented on #44
@ColonelThirtyTwo Uhhh... I must be imagining the 50% fps boost I get when I set the rendergroup to opaque then. Not everyone has a great computer, and that's only exacerbated by how lousy gmod 13 runs compared to previous versions (no multicore processing or rendering, aswell as useless html overlays draining fps). Trust me, it hurts performance in a huge way, especially when using non default mo

[2014-01-30 18:26] ColonelThirtyTwo commented on #44
I agree that it shouldn't be in both render groups if it doesn't need to be, but I doubt that statistic is accurate.

FPS is not a good scale for benchmarking because it's an inverse scale; the difference in rendering time between 1000 and 6000 FPS is much less than the difference between 1 FPS and 60 FPS. So the 50% statistic can mean anything.

Also, didn't they add multicore rendering a long ti

[2014-01-30 19:21] shadowscion commented on #44
@ColonelThirtyTwo

Multicore was available in gmod12, but removed in gmod13 (the setting is there but it doesn't do anything). According to garry, it caused instability, so instead of fixing it he just removed it and fucked everyone over.

I realize fps isnt a good benchmark, but its what we have.

Looking at empty map: 210fps

Looking at 100 "hq_sphere" models in one location:
• 87 fps with rende

[2014-01-30 19:27] awilliamson commented on #44
I'd just like to point out that fps is heavily dependant on client hardware and even gmod launch settings. Standard hologram models and hq models aren't packaged with starfall we use just prop models currently if i recall correctly. In depth analytics are pointless to compare the render groups. Unless spawning excess amounts of holograms the effects will be negligible on modern up to date hardware

[2014-02-02 17:27] Xandaros opened #48 "render.setTextue(nil) throws error"
render.setTexture(nil) delegates to surface.SetTexture(nil), which was replaced by draw.NoTexture()...
I think...

[2014-02-03 18:42] #48 closed, assigned to nobody

[2014-02-07 04:12] Xandaros opened #54 "Hi-Speed devices slow in SF (compared to CPU)"
Supposedly Hi-Speed devices are about 5% slower if using SF compared to CPU.
We need to fix that! (If we can...)

[2014-02-08 04:47] Xandaros commented on #23
I recently saw the same happen with E2 and lemon gate. I think this is garrys fault.

[2014-02-08 04:47] #23 closed, assigned to awilliamson

[2014-02-09 10:54] Xandaros opened #56 "Starfall cannot be duped if it has valid code"
If a dupe contains a starfall without code, the whole dupe will fail. If you then try to paste it, you get stuck at 0% and you need to rejoin the server to use dupe again.
(Assuming adv duplicator 1. Dupe2 doesn't work, either, though)

Edit: Screens can never be duped, even with invalid code

[2014-02-09 12:17] Xandaros opened #57 "Render lib is missing monospaced fonts"
Ever tried making a console without a monospaced font?
Yeah...

[2014-02-11 06:41] Xandaros commented on #43
This does not work with our purity concept. If people want it, they can make it themselves or you can release it as a user library instead of a system library.

[2014-02-11 06:41] #43 closed, assigned to nobody

[2014-02-11 06:48] Xandaros commented on #36
What's wrong with the VMatrix lib?

[2014-02-11 09:49] Xandaros commented on #14
Okay, seriously. I hate vgui.
I can't get it to look somewhat decent, let alone how I want it to look.

I'm going to finish the permissions system but leave out anything that has to do with vgui, effectively leaving the default provider unconfigurable.
Someone else has to do that part, I just can't do it.

[2014-02-11 16:55] Xandaros commented on #2
@daranable Would you mind if I do this after the permissions? You seem to be busy and coroutines would make it so much better.
I'm also planning on adding a coroutine library. I looked into it and it doesn't seem too hard to secure.

[2014-02-11 20:16] Xandaros commented on #2
Well... some further testing has revealed that the interaction between debug.sethook and coroutines seems to be buggy.
If you error in debug.sethook, it will stop execution as expected. However, hooks will not get called again, even after setting new ones and unsetting it before calling error)

Edit: nevermind, after starting with a fresh file, it works. I have no idea what I am doing different. G

[2014-02-12 05:02] Xandaros opened #58 "Add convar to limit traces"
Currently you can do as many traces as the op count allows.
I compared a SF chip that only has an empty while loop and one that does traces one after the other.

The first one did not lag at all, the second one lagged quite a bit and used more cpu time.
But even if I limit the time the second while runs, it lags the game a lot.

[2014-02-13 08:46] Xandaros commented on #10
Permission system (#14) is almost done, so this is no longer necessary.

[2014-02-13 08:46] #10 closed, assigned to awilliamson

[2014-02-13 09:19] Xandaros commented on #44
How does this relate to #24?

[2014-02-13 09:43] Xandaros commented on #14
What should happen if an action is not allowed? Should the chip crash? Ignore the action? Go haywire?

[2014-02-13 10:32] Xandaros opened #59 "Rename ents library to entities"
It really shouldn't be called "ents". The holograms library is not called "holos", either.

[2014-02-13 10:38] Xandaros opened #60 "Change ents.setNotSolid to ents.setSolid"
Although most of the time you start with a solid entity and want to change that, setSolid makes more sense than setNotSolid in my opinion.

[2014-02-13 13:48] ColonelThirtyTwo commented on #44
Ah, that makes sense. In the opaque pass, the hologram is drawn with its alpha ignored, so when it tries to draw itself in the transparency pass, there's already an object there, so it doesn't render anything.

[2014-02-13 17:22] Xandaros opened #61 "Move libraries in libs_sh that only work on serverside to libs_sv"
There are libraries that are only useful on the serverside in the libs_sh directory.
A great example is the holograms lib. You are not able to create holograms on the client, yet the library is shared.

[2014-02-13 19:16] daranable commented on #14
What we really need is exceptions, but that is a whole different ball game.  With exceptions if they go uncaught they throw an error, otherwise the chip can handle it gracefully.

If it throws an error, we need to make sure to expose a function to check if you can do a certain thing, so that way trying to use something that they may or may not be able to will be a headache.

[2014-02-13 19:18] daranable commented on #2
So as far as you taking this, I will talk to you more in depth about this.  There is a lot to do that isn't very straight forward for this.  I will talk to you this weekend about it.

[2014-02-13 23:22] ColonelThirtyTwo commented on #60
Wait, is there both `setSolid` and `setNotSolid`? Wtf garry, why?

[2014-02-13 23:26] ColonelThirtyTwo opened #62 "Replace preprocessor/includes with something else"
The only thing that currently justifies the preprocessor's existence is the need to find what  files to send to the server. Anything else (chip name, etc.) can just use normal function calls.

But I can't think of a good alternative for getting the list of files to send. Anyone have any ideas?

[2014-02-14 01:30] daranable commented on #62
This is an idea in the works.  One of the main reasons we still need Coroutines.  Even after coroutines the preprocessor will likely still exist but in a different form.

The idea is with coroutines, like normal the preprocessor will run, it will instead of looking for a preprocessor call it will look for a call to include or require (Whichever it is named don't remember off the top of my head).

[2014-02-14 01:37] daranable commented on #61
There isn't any technical reason I know holograms can't be on the client.  You can have client side entities that only render on your client.

[2014-02-14 02:00] awilliamson commented on #61
As I said to @Xandaros at the time, 'holograms' can exist on the client. They would just be client side entities. To the user this distinction isn't required and bundling makes it easier I believe.

[2014-02-14 02:50] ColonelThirtyTwo commented on #62
I don't think wrapping the sandbox in a coroutine is a good idea; what if the code calls require in the another coroutine? Or do you not plan on exposing coroutines? Plus, what happens when an event triggers while still waiting for a required file?

[2014-02-14 02:54] ColonelThirtyTwo commented on #54
What? How?

"High speed" is just an array of integers, with ReadCell and WriteCell functions on the entity.

[2014-02-14 04:57] Xandaros commented on #61
It's not just holograms, there are a few misplaced libraries.
And holograms as they are now, are not available on the client, so either make them work client-side or move the library to server-side.

[2014-02-14 04:59] Xandaros commented on #60
Yes, although they are different.
I just disagree with a function name "setNotSolid". Why would anyone name it like that?

[2014-02-14 05:07] Xandaros opened #63 "Give holograms their create function back"
I strongly disagree with how holograms are created now. (Calling the library)
As we can't have constructors, since libraries need to be loadLibrary'd, a create function is the best way to go.

[2014-02-14 18:08] daranable commented on #62
The vast majority of time all of the scripts will have been sent to the server with the script, the only time it will not have been sent is if they have locally aliased require.  Secondly it is generally best practice anyway not to register for events until your script has fully loaded, so in this case not until you have required all of your includes.  There will be controls in place making it so

[2014-02-15 01:12] ColonelThirtyTwo commented on #62
Or if the call to require doesn't use a constant string. Plus, the only way Starfall generally executes is via hooks.

I can understand trying to parse calls to `require` with constant strings, but implementing a coroutine system to wait for files that haven't been uploaded is overcomplicated and unneeded; just have `require` error if the file wasn't transmitted.

[2014-03-03 19:50] awilliamson opened #65 "Automatic Document Generation"
Work on using the Github API to tell Seth to regenerate the docs at http://sf.inp.io

[2014-03-04 19:01] #63 closed, assigned to awilliamson

[2014-03-04 22:50] #30 closed, assigned to awilliamson

[2014-03-04 23:32] #41 closed, assigned to awilliamson

[2014-03-05 11:46] #33 closed, assigned to Xandaros

[2014-03-05 21:24] #24 closed, assigned to awilliamson

[2014-03-05 21:24] #44 closed, assigned to awilliamson

[2014-03-06 23:04] awilliamson opened #69 "Hologram counts, not reset on chip update from another player."
If your SF chip is updated by a 'friend' then your holograms will appear to despawn but you will not get your quota refilled. If you spawn 300, have your friend overwrite, your holograms will disappear, but you won't be able to spawn any more holograms until rejoining.

[2014-03-06 23:26] #25 closed, assigned to awilliamson

[2014-03-06 23:28] awilliamson opened #70 "E2 Editor not opening Starfall Scripts"
I know we're working away from the wire dependency, but as long as we're using the editor we might as well try to get it to perform as intended.

When right clicking on a chip that's deployed you should be able to open that chip's code and edit it and have the ability to upload back.

[2014-03-07 19:37] #54 closed, assigned to nobody

[2014-03-07 19:41] #38 closed, assigned to nobody

[2014-03-08 14:04] awilliamson commented on #69
This is probably due to the holograms instance list not resetting the data for a player when it's removed.

[2014-03-08 15:41] awilliamson opened #71 "SF.RequestCode nil entity in net message starfall_requpload"
Upon inspection of the SF.RequestCode function I noticed that in the starfall_requpload net message we were writing 'ent' which is not previously defined.

Not sure how that got it there, or when. Needs removing and fixing, probably when we overhaul the way that we do upload/download.

[2014-03-09 04:19] awilliamson commented on #26
Even though I can inspect those referenced commits, I can't find them anywhere on a repo. Neither @INPStarfall or @Metamist repo's appear to have the commits in them, yet it states it belongs to INP. The fix command was also treated as a reference, and the fact that there exists two commits here which have slightly different code and comments is interesting.

I will remake and test this then stick

[2014-03-09 04:21] awilliamson commented on #36
Most use-cases for matricies tend to be using the passthrough 'Matrix'. Haven't seen anybody using VMatrix yet, I've only ever used them for 3D rendering in GMod gamemodes. If anybody has any sample code to test the library that would be nice.

A bug also exists where the __mul metamethod for the VMatrix lib is doing rhs_rhs rather than lhs_lhs. Also checking the current type to be it's metamethod

[2014-03-09 04:22] awilliamson commented on #65
Progress has been made. We've been able to retrieve repo information through a php script on seth. LuaDoc source has been downloaded and its dependencies installed on the machine. Just a few tweaks need to be made to existing create scripts to get the documentation generating I do believe.

[2014-03-09 04:25] awilliamson commented on #60
If the GLua function for an entity is named that way, then we'll pass it through. As I've previously mentioned with @Xandaros certain functions we may not personally like, but we're just providing a layer and I'd like to try stick as close to 1:1 as possible so that people may use existing documentation for GLua to code with starfall as effortlessly as possible.

Possibly add a notion in the docum

[2014-03-09 04:28] awilliamson commented on #58
This shouldn't be an issue once our proper method of running scripts is implemented. Could be a temporary fix if we're releasing this under the pretense of general user use, rather than the admin/trust only one we have now.

It would at least allow it to not be exploited into crashing a server until such a time that we have our planned system implemented.

[2014-03-09 04:31] awilliamson commented on #12
People can already overwrite your chips if they have you on PP list. This is because the PP mod will prevent tool use on your entity if they're not allowed to. Scripts spawned this way will execute as the owner of the entity, not the tool user. This effectively acts as friendwrite.

Currently the editor has no right-click download functionality so the current script on the chip is non-accessible.

[2014-03-10 00:44] #36 closed, assigned to awilliamson

[2014-03-10 14:01] Xandaros commented on #65
done

[2014-03-10 14:01] #65 closed, assigned to nobody

[2014-03-10 14:02] Xandaros commented on #70
This is not a bug, it's a feature request. And what does it have to do with wire? We are merely using its editor, the code transfer still needs to be done by us.

[2014-03-10 14:08] Xandaros commented on #60
I disagree with sticking so close to GLua.
GLua has some very bad standards. (If any)

IMO this is a perfect example. Why have a function "setNotSolid" which sets a value that defaults to false isntead of "setSolid", setting a variable that defaults to true.
Makes for a better name in my opinion.

On that note, garry's "setSolid" should be called "setSolidType", "setSolidityType", or something sim

[2014-03-10 19:05] #59 closed, assigned to awilliamson

[2014-03-10 23:42] ColonelThirtyTwo commented on #60
I agree with renaming to "setSolid" ~~but not with "setSolidType". It's a boolean attribute, no need for an enum with two elements.~~

~~Setting an entity as intangible just makes it so that the engine doesn't preform collision detection with that object; it doesn't change "whether to use bounding box or collision model"~~

Didn't realize SetSolid now takes an enum. I agree with Xandaros now.

[2014-03-11 03:58] awilliamson commented on #60
Oh, I know that the naming is just horrible. I've agreed with all the reasons stated for the rename, but if we start changing little things here and there then it's not long until we have like E2 has them. Where methods are named whatever which way they want to be regardless of their origins.

Perhaps this is an extreme case which does require intervention, but I don't want to be making a habit ou

[2014-03-11 04:01] awilliamson commented on #70
Well, in order for our code transfer to work, we need to modify the VGUI template from the E2 Editor. The reason it wasn't implemented in the past was because it would be annoying to integrate our code transfer methods into the tool and editor VGUI.

If we have core code transfer changes ahead of us then it might be best to back bench this for now, all we're missing at the moment is right click up

[2014-03-11 04:04] awilliamson commented on #34
I think for now @Xandaros and I decided that if comparison metamethods are required, then people can write them themselves.

If this isn't the case then feel free to reopen and reiterate.

[2014-03-11 04:04] #34 closed, assigned to nobody

[2014-03-11 04:09] awilliamson commented on #45
Is this still happening? I know a server owner mentioned the dreaded "CodeSent" bug the other day to me when spawning a screen for the first time, didn't have any problems after that error in spawning new screens to my knowledge.

[2014-03-11 09:00] Xandaros commented on #45
At least "CodeSent" is still happening. I might be able to fix it soon™

[2014-03-11 09:01] Xandaros commented on #70
That's what I suggested in the first place...done.

[2014-03-11 09:05] Xandaros commented on #60
As I said before, as long as we stick to a naming convention, it won't become E2. (Like getters starting with "get")
And most GLua functions follow this. However, some are just very unintuitive or unnecessary. (C-style *Ex function, for example. They are necessary in C, but can be replaced with language features in Lua. [And C++, for that matter...])

[2014-03-11 19:29] Xandaros opened #75 "Signal library"
We need a signal library to replace net library and for sending data between processors/screens.

See #1

[2014-03-11 19:31] Xandaros commented on #1
superseded by #75

[2014-03-11 19:31] #1 closed, assigned to nobody

[2014-03-11 20:23] awilliamson opened #76 "Remove libs files from 'file' list of Docs. Rename to 'core'."
In the docs the files list in the nav bar is pretty useless at the moment, as those lib files are displayed in the Library category. It may be better to change the files category to be 'Core' so that files essential to SF are documented there.

[2014-03-11 22:21] awilliamson opened #78 "Starfall Screen 'ghost'"
If invalid code or some such is put to a screen it will display the last valid thing. We should display black until valid code has been fully uploaded and executed.

[2014-03-11 23:27] Xandaros commented on #75
@ColonelThirtyTwo suggested through indirect messages (long story) to name the signal library "event" rather than "signal", which I think might be a good idea. Thought?

[2014-03-12 00:02] awilliamson commented on #75
Was speaking with @Xandaros at the time and thoughts that 'event' sounds like a suitable name. However it won't just be events it will also be messages.

[2014-03-12 10:16] Divran commented on #75
Why don't you make the hook library able to send to other instances? All you'd need to do is change hook.run from instance:runScriptHook to loop through the instances like this function https://github.com/INPStarfall/Starfall/blob/develop/lua/starfall/libs_sh/hook.lua#L86 does

[2014-03-12 14:24] Xandaros commented on #75
Hmm, remote hook execution might be an idea, as well...

[2014-03-12 14:37] Divran commented on #75
Also, it appears you already have a global tables library. This library can be used by anyone to make their own instance->instance library, since you can simply save some functions on a global table. Really the only advantage of having a global table library in SF is if you add E2's gTableSafe function (which returns an unhackable global table for use in E2 games).

[2014-03-12 14:47] Xandaros commented on #75
The problem with global tables is, they are global. You can't send a message to an instance owned by another player, without anyone else being able to read it, too. And the receiver is not able to verify the origin of the message.
Of course, you could encrypt and sign the messages, but in my opinion that is way too much processing power for general use.

Another thing with global tables is, that t

[2014-03-12 15:05] Divran commented on #75
That's what you can use E2's gTableSafe for.

The receiver doesn't have to poll for changes if you save a function to the gtable which you then call whenever.

[2014-03-12 16:28] daranable commented on #75
@Xandaros Should we want a starting point here is an implementation I had started on a while back: https://github.com/daranable/Data-Signals
I designed it to also solve another problem not mentioned here, this implementation could replace E2's and allow for any processor type to send data to any processor type.

@Divran the problem with a system like that, is then you start running into issues whe

[2014-03-12 16:36] Divran commented on #75
I tested my theories on the globaltables library and while it is possible to call functions on other instances, I believe the ops gets added to the calling chip rather than the receiving chip, which kind of defeats the purpose. So while it is a fun derp hack, it's not very useful.

@daranable isn't that library pretty much exactly like E2's though? SF is Lua, so we don't have to mimic E2 at all.

[2014-03-12 16:39] awilliamson commented on #75
@Divran I thought we'd agreed that globaltables ( for this event stuff ) is a horrible idea and that you would then need a hack of a hack in order to get them functioning? Rather than beating around the problem, we should try solving it down a more proper route.

@Xandaros If the remote hooks are a more fleshed out version of what we were discussing yesterday with events then It sounds good. Havin

[2014-03-12 17:05] daranable commented on #75
So, the problem I foresee with using a hook system to do remote signaling is how is someone wanting to receive data or not receive data going to do access control to that?  With an implementation of Signals like the above by default you get nothing and have to register for more.

Also, please correct me if I am wrong, the last time I looked at expression 2, expression 2 functions are not first cla

[2014-03-12 17:26] Divran commented on #75
That's basically exactly what I said?

[2014-03-12 17:28] ColonelThirtyTwo commented on #75
First, please please please do not call them signals. It's a very E2 name for them. Please call them events.

You can send closures over global tables and call them on other instances, to avoid polling. Not that I endorse globals. @Divran the ops should go on the chip calling the function, because that's the one that is running.

[2014-03-12 17:31] Divran commented on #75
But then you can't make peer-to-peer chips? I mean then you can't have one chip tell another which task to work on, because it'd in fact be the first chip doing all the work anyway.

[2014-03-12 17:33] daranable commented on #75
@Divran using that system the chip that is going to work on something could simply register a callback for the next tick, and do the processing then, no I don't think that is ideal but it is a way it /can/ be done.

But I believe we all agree at this point using Global Tables is just out.

[2014-03-12 17:34] Divran commented on #75
That'd require polling though, wouldn't it (which we want to avoid)? Checking to see if a callback was registered or not.

[2014-03-12 17:37] daranable commented on #75
I don't believe it would as if the function the calling chip is calling is a closure, the function that gets called after say a timer will run in the context of the called chip.  I don't see how that would require polling.

But also talking about this facet of global tables isn't likely necessary if we aren't going to use it. XD

[2014-03-12 17:39] awilliamson commented on #75
I think too many people are just talking about many different things that aren't related back to the core issue at hand. Can I ask that we forget about this for now whilst we get more of an idea around what the problem is and what potential solutions to it would involve. We only made the issue as a passing remark that we want something rough, we never fully outlined it.

[2014-03-12 17:42] Xandaros commented on #75
This is how I think it should be done:
Net library gets changed so it can only send between instances of the same screen.
To send something to another instance, you call a function with varargs. This will execute a hook on the receiver with the first argument being the sender and varargs what the sender supplied.

It is a very simple way of doing it and is easily expandable on user level.
If you w

[2014-03-12 17:47] daranable commented on #75
I personally don't like the idea of having it extend the hook library.  The way Hooks in a language are used are not meant to do access control and things like that, and an event system like this in the context of GMOD really needs to have fine grained access control.  Also If people are going to learn to program in this I do /not/ want to teach them bad things about things that are used all over

[2014-03-12 17:49] awilliamson commented on #75
Ok, seriously people. Stop talking now, more will be discussed later...

[2014-03-12 18:31] Xandaros commented on #75
Closing an issue means it's finished. It is not.

[2014-03-13 00:56] awilliamson opened #80 "Add 'masks' to trace library."
Work on some system to add the masks to traces using ENUM from wiki.

Discussion required as to the format of how the ENUMs should be presented.
Eg trace.enum["MASK_WATER"] following name conventions outlined in GMod docs ( probably engine docs too )
Eg trace.mask.water where you replace underscore with dot and lowercase.

Thoughts?

[2014-03-13 04:12] Xandaros commented on #80
That was never part of the deal.

[2014-03-13 04:15] Xandaros opened #81 "Clicking on a table in docs does not scroll to the details"
For example:
http://sf.inp.io/libraries/builtin.html
If you click "math", the address bar will change, but your browser won't scroll down.

[2014-03-13 05:03] #81 closed, assigned to Xandaros

[2014-03-13 06:09] wraith321 commented on #80
Why not just leave it as it is, I think it is perfectly fine:
trace_library.MASK_OPAQUE

[2014-03-13 06:17] awilliamson commented on #80
Me and @Xandaros have decided to look at how several languages implement Enum types. We'll post more when we have it.

EDIT:

http://stackoverflow.com/questions/287903/enums-in-javascript
http://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml?showone=Naming#Naming
http://stackoverflow.com/questions/1405851/enum-naming-convention-plural
http://stackoverflow.com/questions/3069743/codi

[2014-03-13 23:24] awilliamson opened #83 "Add 'types' to documentation."
Allow things such as entities to be documented nicely and separately from libraries. Things such as metamethods and actual 'type' methods.

Examples of this could be Entity, Color, Hologram, etc. Anything which uses TypeDef.

Subject to change.

[2014-03-14 02:18] Xandaros opened #84 "Document all the things"
A lot of things are still undocumented. That needs to be fixed before initial release.
(Especially the player library. It is not documented at all.)

(Off-Topic: The getters in the player library don't have a "get" in front. We should fix that.)

[2014-03-14 03:45] #83 closed, assigned to Xandaros

[2014-03-14 04:17] awilliamson commented on #76
Instead, remove files. If libraries are going to be removed from files and it just has core SF then it's useless. Core Starfall files are useless to end users. People wishing to code for Starfall should be able to open the Lua files anyway.

[2014-03-14 15:04] shadowscion commented on #84
I would like to help with this; but I don't know how to test the generations on my end before submitting a pull request.

[2014-03-14 17:04] Xandaros commented on #84
Install the luadoc lua module and run build_docs.lua in the docgen directory.
If you are on Ubuntu or Debian, you can easily install it from the repository. On arch it is available in the AUR, I think. For other Linux distributions or platforms - no idea :P

[2014-03-14 21:02] awilliamson commented on #84
On Arch be careful to run it with Lua 5.1. This will require you to find old 5.1 versions of LuaRocks and then the 5.1 of luadoc with its dependencies. Windows will be the same for LuaRocks, probably the easiest way.

[2014-03-15 04:10] awilliamson opened #87 "Remove "base_wire_entity" dependency and replace with our own."
Remove "base_wire_entity" and write our own for the common code between processors and screens.

[2014-03-15 04:24] awilliamson commented on #76
Fixed by #86

[2014-03-15 04:24] #76 closed, assigned to awilliamson

[2014-03-15 04:26] awilliamson commented on #58
Discussed with @Xandaros, at the current time this is not wanted as an enhancement, could be reopened at a later date if our decision changes.

[2014-03-15 04:26] #58 closed, assigned to nobody

[2014-03-15 04:28] awilliamson commented on #60
Agreed to change the naming from what source sets so that it makes more sense. Will want a note in the documentation so that users may look up the differences in GMod docs.

[2014-03-15 04:48] #56 closed, assigned to nobody

[2014-03-15 05:28] awilliamson opened #89 "Change entity folder names from gmod_wire..."
Since we're planning on removing wire dependencies and gmod_wire_starfall_screen seems a bit too long I think we should name them to be a bit shorter and less of a mouthful.

Proposed naming:
- gmsf_NAME
- gmod_sf_NAME
- gmod_starfall_NAME
- sf_NAME
- starfall_NAME

I have a few preferences and some not. I prefer sf_NAME or starfall_NAME. There are however concerns of conflict is somebody in the f

[2014-03-15 05:32] Xandaros commented on #89
I vote for starfall_NAME. sf_NAME might be shorter, but I think we should use a very distinct prefix.

Keep in mind this cannot be changed after initial release, because it would break dupes. Whatever we choose, it is permanent.

[2014-03-15 06:33] #26 closed, assigned to awilliamson

[2014-03-15 06:52] awilliamson commented on #17
Is this still occurring. Noticed that it seemed to share just fine when we updated it on INP. Any steps to show the difference or reproduction scenario?

EDIT: New players that join won't have the updated convar I believe.

[2014-03-15 07:47] #60 closed, assigned to awilliamson

[2014-03-16 01:10] awilliamson opened #93 "SF.DefaultEnvironment.pcall has global creation"
Was updating pcall for it's ops call when fixing #17. Saw ok, and err being created globally.

[code]

[2014-03-16 18:15] shadowscion commented on #78
This may or may not be related, but the contents of other screens such as gpu, digital screen, egp are appearing on the wire starfall screen (instead of whats supposed to be on the starfall screen) to some clients.

[2014-03-16 18:55] Xandaros opened #96 "Do we want to split libraries that have serverside-only or clientside-only functions?"
Currently we have a mix of both:
Libraries with functions containing SERVER and CLIENT blocks(e.g. net and player)
as well as libraries that are split. (entity)

And of course libraries that are strictly client-, serverside or shared.

The question is: What do we want?
Pro-split:
- A nice separation. If you see a function, you know whether it is shared or serverside. (Although we do have annotatio

[2014-03-16 19:03] Xandaros commented on #78
It is remotely related. If this bug is fixed, they will see a black screen instead.
That sounds like a synching issue that I have not yet encountered. Do you know of a way to reproduce it or maybe some conditions for this to happen?
(If it happens more than a few times, it might deserve its own issue)

[2014-03-16 22:19] #89 closed, assigned to nobody

[2014-03-16 22:33] #93 closed, assigned to awilliamson

[2014-03-17 00:52] Xandaros opened #98 ""get" in front of getters"
Almost all getters in the player library are not prefixed with "get".

[2014-03-17 05:29] #45 closed, assigned to nobody

[2014-03-17 05:39] awilliamson opened #103 "Change stools to starfall_* from wire_starfall_*"
Should follow the same naming as their entities.

[2014-03-17 05:44] awilliamson opened #104 "Add Starfall category to Wire Tab. Inc proc & screen."
Make a category just for Starfall inside Wire Tab which will include the processor & Screen. It's currently annoying to have starfall split between Control & Display even though the Screen is capable of both.

Perhaps make our own Tab of the Q menu, although this may be a bit excessive for 2 tools.

[2014-03-17 05:56] Xandaros opened #105 "Add try-catch"
Add exception handling to replace pcall.
This has to support uncatchable exceptions and re-throwing.

See #14

[2014-03-17 06:57] awilliamson commented on #104
New Category would be at the bottom, that's no good.
Suggestion from @Xandaros to put it in 'Wire - Advanced' but that doesn't look right either.
The decision is to leave it as is for now, until we break away from the dependencies of Wire.

[2014-03-17 09:18] #103 closed, assigned to awilliamson

[2014-03-18 02:35] #105 closed, assigned to Xandaros

[2014-03-18 08:26] awilliamson opened #109 "Move Wire dependencies on chip & screen to WireLib using SF.Libraries.CallHook"
Very rough idea to move logic off the entities and in to the wire library. Then hook into it.

[2014-03-18 13:33] awilliamson opened #111 "Add some sort of 'onLoad' metamethod for Libraries."
Add some onLoad metamethod, hidden from SF users. Libraries can use this as a callback for when their libraries are loaded using loadLibrary from a user script.

[2014-03-18 13:52] awilliamson opened #112 "Add graceful error throwing to LoadLibrary for non-existent library."
Now we have graceful error throwing ( Thanks @Xandaros ), instead of returning nil for an invalid library and being fine with it, we can throw an error to let the user know of their invalid use.

[2014-03-19 03:55] awilliamson opened #113 "Add our own Notification system."
Replace Wirelib.ClientError with our own implementation.

( Needed for base entity )

[2014-03-19 08:25] #111 closed, assigned to awilliamson

[2014-03-19 12:13] #113 closed, assigned to awilliamson

[2014-03-19 17:24] Xandaros opened #116 "docgen doesn't pick up http library"
The library is missing a file comment for the doc generator to pick it up...

[2014-03-20 08:21] awilliamson opened #117 "Reword SF.Libraries hook functions documentation to be clearer."
Currently the comments on SF.Libraries hook functions are slightly ambiguous and don't convey the use-case or what they actually do. Some may disagree, but I think rewording them to be clearer would be of benefit.

[2014-03-20 10:52] ghost opened #118 "Ability to apply force to a player."
I would like to see the ability to apply a force onto a player entity.
You can do that with any other entity, so why would you block it for players ?
I think it should have some obvious limitations:
Only allow applying force to a player when you're the person that placed the gate but allow it on any player if admin.

(Same goes for setVelocity and other functions of it's kind, and also setAngles s

[2014-03-20 12:26] awilliamson opened #119 "Add 'concmd' for users."
Add concmd for users. Would allow scripts such as chat responders ( eg. Xan's Github issue stater )

Ensure that you can only fire them on the owner of the chip.

[2014-03-20 18:36] ColonelThirtyTwo opened #121 "Allow applyForce'ing players"
Forwarding from https://github.com/GmodStarfall/Starfall/issues/143

[2014-03-20 19:19] awilliamson commented on #121
It was already created at #118 when @Skraay realized their mistake.

[2014-03-20 19:19] #121 closed, assigned to nobody

[2014-03-21 06:35] #119 closed, assigned to Xandaros

[2014-03-21 07:44] awilliamson opened #123 "Concmd can be abused with client screens."
Concmd will fire on all players who have the screen running. This is not the intended behavior and it should only fire on the screen's own.

[2014-03-21 08:10] #123 closed, assigned to nobody

[2014-03-21 10:57] Xandaros opened #127 "Document preprocessor directives"
I don't think we'll ever be getting rid of these, but either way they should probably be documented.

[2014-03-21 15:11] #87 closed, assigned to awilliamson

[2014-03-21 17:12] #116 closed, assigned to Xandaros

[2014-03-21 22:39] wraith321 opened #132 "--@sharedscreen breaks the upload"
When using --@sharedscreen in a screen, no further screens / processors can be used ("wait for the current upload to finish")

[2014-03-22 00:47] wraith321 commented on #132
I just saw that screens run serverside by default, was --@sharedscreen removed? Even then it still breaks the screen

[2014-03-22 06:13] Xandaros commented on #132
That explains why it was happening to me, but not to you^^
Fixed by 8b2264c1559c086938bbe789a6291a5595d1505d

And no, screens don't run serverside by default. They, however, have some serverside code.

[2014-03-22 06:45] #132 closed, assigned to nobody

[2014-03-22 09:43] awilliamson opened #133 "AddNotify is Broadcasting rather than sending."
Our version of AddNotify is somehow broadcasting when a chip errors rather than sending the message. Wasn't spotted until chips errored in a multiplayer envionrment.

[2014-03-22 10:09] #133 closed, assigned to awilliamson

[2014-03-22 10:27] #127 closed, assigned to Xandaros

[2014-03-23 00:13] shawnkoh opened #137 "for loop in ipairs iterates over all keys"
as title says, it loops over all keys instead of just numerical.

[2014-03-23 10:30] #137 closed, assigned to Xandaros

[2014-03-23 15:51] awilliamson opened #141 "Cannot upload SF code with sharedscreen bug"
Finally tracked down how to reproduce it.

Open an editor with code loaded, ensure syntax error in said code.
Save and Exit
Immediately left click spawn a screen.

We noticed that this would not show the bug with normal screens, but @Xandaros and @Skraay were using --@sharedscreen directive. This shows that it is an issue with request code for sharedscreens.

Once the error for SF code uploading a

[2014-03-23 17:54] Xandaros opened #143 "Error when someone uses a SF screen that is not loaded"
If someone else is pressing his use key while aiming at a starfall screen that is not loaded on your client, you receive the following error:

[2014-03-24 06:48] Xandaros opened #144 "File library exploit"
It appears that it is currently possible to create random files on other peoples computer. We should prevent that.

Either fix the file library or disable it by putting a return at the top.

[2014-03-24 06:49] Xandaros opened #145 "PlayerSay exploit"
Currently you can change what players are saying with the return of the PlayerSay hook. This should be restricted to yourself, at least for now.

[2014-03-24 07:15] Xandaros opened #146 "Find better name for wire.createIn-/Outputs"
The name is misleading. It suggests adding new In-/Outputs while it is in fact overwriting the current ones.
If I first create inputs A and B and then C and D, I am left with only C and D.

[2014-03-24 08:07] awilliamson commented on #146
I vote for naming it exactly as Wire named theirs. ...AdjustSpecialOutputs and ...AdjustSpecialInputs. Obviously fix the casing. Might also want to document the onLoad function as that actually creats the inputs and outputs for the chip.

EDIT: adjustInputs and adjustOutputs I'd be all for.

[2014-03-24 08:14] #143 closed, assigned to Xandaros

[2014-03-24 08:18] #98 closed, assigned to nobody

[2014-03-24 09:34] awilliamson opened #150 "Add console printing to SF.AddNotify"
SF.AddNotify currently doesn't print to console, this makes it rather annoying when trying to get the error message.

This needs adding.

[2014-03-24 10:26] awilliamson commented on #17
@Skraay is still having this issue, @Xandaros mentions that his convar says 1 million when the server is set to 100k.

[2014-03-24 10:27] #145 closed, assigned to Xandaros

[2014-03-24 11:47] Xandaros commented on #144
Turns out this was a false report. Owners (or superadmins if none set) are able to bypass the permission checks, which is intended behaviour.

[2014-03-24 11:50] #144 closed, assigned to nobody

[2014-03-24 12:01] shawnkoh opened #152 "error when printing wrapped render polys"
render = loadLibrary("render")
printTable( render.createPoly({
    {x=1, y=2},
    {x=3, y=4}
}))

errors
addons/starfall/lua/starfall/libs_sh/builtins.lua:280: table index is nil

[2014-03-24 12:28] Xandaros commented on #152
The problem here is that trying to get the length (#) of a compiled poly always returns 0, I think.

Now sure why you'd want to print a compiled poly, though. It is compiled, after all.

[2014-03-24 15:17] #141 closed, assigned to Xandaros

[2014-03-24 15:18] #75 closed, assigned to nobody

[2014-03-24 15:22] Xandaros opened #156 "Hooks that error don't output a meaningful error message"

[2014-03-24 15:23] Xandaros opened #157 "Some methods still have capital first characters"

[2014-03-24 15:24] #84 closed, assigned to nobody

[2014-03-25 09:49] Xandaros commented on #150
Instead of printing the content of SF.AddNotify to console, we should print a proper stacktrace. The problem doesn't always lie where the error occurred.

[2014-03-25 11:07] awilliamson opened #161 "ent methods parent and unparent"
Currently unparent is just setting parent to nil. If we passed nil to the parent function we would get an error about a nil error.

This needs to be decided and fixed as the parent function would need changing.

[2014-03-25 11:22] #150 closed, assigned to Xandaros

[2014-03-25 21:04] awilliamson commented on #157
I'm doing Vector and Angle builtins. Also changed parent to getParent for entities and cleaned some of that codestyle. Further definition of more methods that need changing would be good. I'll make sure to explicitly define Vector and Angle functions so we can doc them.

[2014-03-26 07:52] Xandaros opened #167 "Use cpuTime instead of ops"

[2014-03-26 11:53] #146 closed, assigned to Xandaros

[2014-03-26 18:00] #112 closed, assigned to Xandaros

[2014-03-28 14:07] awilliamson opened #169 "Rename vector methods"
Seeing as we're making our own vector type for naming purposes, we should also apply the get\* changes to those functions.

Eg. length -> getLength.

Also remove silly naming and duplicate naming such as getnormal and getnormalized.

[2014-03-29 15:24] awilliamson opened #171 "Modify SF.Unwrap"
Have some sflib function which will unwrap an object IF it can, otherwise it passes through the normal value. This would be useful for type metamethods where you can't possible account for every type of object, such as __eq.

EDIT: function SF.Unsanitize does this I believe, more testing required.

[2014-03-29 15:38] Xandaros commented on #171
Unsanitize works on tables instead of individual values, but it does it for every entry in the table.

[2014-03-30 20:51] #14 closed, assigned to nobody

[2014-05-04 12:03] Xandaros opened #176 "Update examples"

[2014-05-12 18:05] RoboLV opened #177 "os.date( string format, number time ) - How to ?"
I have a problem.
Is there way to use os.date or dateformat ?

[2014-06-03 05:51] awilliamson commented on #176
Add some form of hash checking (CRC) mixed with online txt grab. Workshop doesn't allow txt files, so examples could be checked against a central server on multiplayer join. Use hashes with each example, would also allow us to update them as minor changes occur without needing a repackage.

[2014-06-03 21:20] awilliamson commented on #69
This isn't a bug, but expected behaviour. When updating another chip, you use the instance already established on the chip. This allows for nice things such as a friend fixing your code. Or allowing more of the same chip if your friends let you use some of their own entity quota.

[2014-06-03 21:20] #69 closed, assigned to awilliamson

[2014-06-04 21:47] Xandaros opened #178 "Get rid of loadLibrary"
loadLibrary just causes redundant code and doesn't really do anything. It just returns the library.

If you have a look at the stock libraries, they are all in the global namespace. The same in other languages.

If anything belongs in the global namespace, it is libraries. It's not like we are putting functions or variables there, we are putting libraries, collections of functions there.

[2014-06-04 21:49] awilliamson commented on #178
Even though I like things separate, I understand that even Lua uses the global namespace to put things like table and math libraries in. I guess my reluctance stems from E2's all-in-the-soup approach. I guess this is a good change, and if servers modify SF and add their own system libraries, and it gets cluttered or named incorrectly then it's their own mess.

I'd say get rid of loadLibrary, even

[2014-06-04 22:28] awilliamson opened #179 "Replace SF.Types[name] with our SF.GetTypeDef[name] utility. Make SF.Types local/private."

[2014-06-05 12:26] Xandaros opened #180 "Add meaningful error message to failed --@include"
Currently, if you do --@include and the file specified doesn't exist, the chip spawned is empty and that's it. No error message, no code is run that could fail, nothing.

[2014-06-05 12:49] Xandaros commented on #177
I don't think that is currently possible, but needs to be added.

(Sorry for the late reply, GitHub decided I don't need to get an E-Mail about it and I had a milestone filter active, so it didn't appear in my issue list)

[2014-06-05 15:48] awilliamson opened #183 "Add fastlz library."
Add functionality for http://wiki.garrysmod.com/page/util/Compress, so people can compress things nicely and fit in with file stuff.

[2014-06-05 15:51] awilliamson commented on #169
Adding our own vector type is nearly done. Preliminary testing shows that all functions added from the wiki work.

Next step is to add integration to other libraries that use vectors to use our own type rather than the global from GLua.

NB: Add our own Vector Type check to the number __mul so that we can have n_v as well as the current v_n. (May need more than just __mul doing for commutative ope

[2014-06-05 16:20] Xandaros commented on #183
Already done in #175, but needs some improvements

[2014-06-05 20:15] #178 closed, assigned to Xandaros

[2014-06-05 20:16] #176 closed, assigned to Xandaros

[2014-06-05 21:37] #57 closed, assigned to Xandaros

[2014-06-07 20:55] Xandaros opened #185 "Remove table.Copy hack, as it was fixed upstream"

[2014-06-08 18:50] AlexanderArvidsson opened #186 "Add G.LocalToWorld and G.WorldToLocal functions"
These 2 functions are useful, what more can I say :D
Before anyone gets confused, I do not mean the ent_methods:localToWorld, I mean the global ones.

http://wiki.garrysmod.com/page/Global/LocalToWorld
http://wiki.garrysmod.com/page/Global/WorldToLocal

[2014-06-08 18:53] awilliamson commented on #186
Why do we need these as global functions? They're pretty easy if you have an understanding of how vectors work?

[2014-06-08 21:13] AlexanderArvidsson commented on #186
Yes, but from what I've read up on them, you'd need matrices to rewrite them, and I don't even know if starfall has that.
Either way, it would be much easier to just implement them, doesn't need to be global, just needs to accept the same arguments.

[2014-06-08 22:05] Xandaros commented on #186
You don't need matrices for that.
Just subtract the origin of the new coordinate system from your vector and you are good to go. Simple as that, just subtraction.
For LocalToWorld, you just do the opposite - adding.

And Starfall does have matrices, but they are used for rendering on the screen.

[2014-06-08 22:05] #186 closed, assigned to nobody

[2014-06-09 00:11] Xandaros opened #187 "serverinfo.maxPlayers backing function is nil"
serverinfo.getMaxPlayers tried to call serverinfo.MaxPlayer (GLua), which does not exist.
It should be game.MaxPlayers

I also suggest changing the name to getMaxPlayers.

[2014-06-09 06:39] AlexanderArvidsson commented on #186
Wrong, you need to take into account the angles! Those two functions doesn't only use positions, the angles rotate it around, which would be easier to do with matrices.

[2014-06-09 12:45] wraith321 commented on #186
[code]

As easy as that :).

[2014-06-09 21:36] AlexanderArvidsson commented on #186
The toWorld function you provided works fine, thanks for that!
But the toLocal one doesn't quite work as expected. It works when you have pitch and roll on 0, and only rotating yaw, but after that it goes all wonky and rotates the position wrongly.
I can't really explain it, but if you do some testing yourself, you might find the same issue.

[2014-06-10 06:17] Xandaros commented on #186
I don't see anything wrong with it, but I didn't try it.
Point is, it can be done in starfall and there is no need to add it as/to a system library.
I might make an official user library with convenience functions like this, but it won't be shipped with starfall and needs to be downloaded manually.

[2014-06-10 06:34] AlexanderArvidsson commented on #186
I compared it to garry's function, but who knows which is the correct one.
Anyway, they don't work the same way on certain angles

[2014-06-10 20:22] Xandaros opened #188 "render.readPixel"
http://wiki.garrysmod.com/page/render/ReadPixel

Not quite sure what it does, but if it does what I think it does, I think it does deserve to be part of the render library.

Does.

[2014-06-11 00:22] wraith321 commented on #188
I think it does exactly what you think it does and if that is the case, it would offer a nice way for making Starfall cams which could capture screenshots :).

[2014-06-11 00:32] awilliamson commented on #188
Some testing will need to be done :) Throwing a few quick tests together now.

EDIT: Initial starfall hackery done. Why this function returns 3 numbers I've no idea. We'll probably make ours spit out a color because that's expected behaviour.

EDIT2: Can't get it to return anything other than 0 0 0 :/ Odd.

EDIT3: Even after iterating over all pixels, they're all 0,0,0. Which is impossible after I

[2014-06-11 00:47] awilliamson opened #189 "Change Color Type, update it, bring it inline with Vec & Ang."
The new types we're adding, Vectors & Angles, have their own file. It might be wise to add Color to it's own file in shared to stick with convention. Otherwise it's stuck in builtins.

A few fixes and additions can be made to Color at the same time to bring it up to date with other methods features. Things like tostring, it's own wrapper creation etc.

I know Color might seem like too simple a typ

[2014-06-11 05:52] Xandaros commented on #188
@wraith321 I think what you mean is this: http://wiki.garrysmod.com/page/render/RenderView
I was thinking about adding something like that - all in good time.

I thought readPixel can rad back what you drew on a screen, which could be very useful.
I'll do some tests in the evening, when I'm back from Uni, unless you figure something out, @awilliamson

[2014-06-11 06:30] awilliamson opened #190 "Add optional error function for SF.CheckType"
Some CheckType's may be essential for things such as operator metamethods. However the resulting error for using an incorrect rhs may not be a useful one.

Possibly add a custom func to handle onFailure which will be optional, this would allow more flexibility in how we present errors for unexpected types and could allow better feedback to the user.

( Not sure but this could possibly be done in o

[2014-06-11 08:25] Xandaros opened #191 "Print errors to console"
Especially for the processor, it can be difficult to read error messages. Sometimes it even adds a stacktrace to that tiny notify thing, which is completely useless, so I suggest printing it to the console, too.

[2014-06-11 08:27] awilliamson commented on #191
Noticed the trace going in notify, we should also prevent that. Use console always then layer on top for screen messages or notify.

[2014-06-11 12:45] wraith321 commented on #188
Reading the pixels actually requires dumping the render target everytime and I guess that could be a big performance problem.
You would either need to expose render.CapturePixels() too and let the user handle it efficiently or refresh it automatically every tick when pixels are read.

Here is an usage example:
http://maurits.tv/data/garrysmod/wiki/wiki.garrysmod.com/index18da.html

edit: @awilliam

[2014-06-12 04:45] awilliamson commented on #188
@wraith321 I used the official wiki which mentions nothing about dumping. This is why I still disagree with the wiki wipe. So much information loss. Will need to discuss if it's worth implementing with @xandaros and if so, how to go about it.

[2014-06-12 07:57] awilliamson opened #192 "Add attribute info to Type docs."
Would be nice to have what comprises the Type in Type docs. Basic information on what is being stored and how to access it.

eg. Angles have ang.p,ang.y,ang.r but no numerical index access. Whereas Vectors have vec.x, vec.y and vec.z aswell as 1 through 3.

[2014-06-12 09:01] awilliamson opened #193 "Add pack/unpack"
Just noticed that pack/unpack are missing, these are potentially very useful functions provided by Lua so should be in the default environment.

EDIT - Packing seems to work by just wrapping a function which returns multiple values in curly braces, and only just found the unwrap function in default environment. Perhaps we need to actually give the pack global func.

EDIT2 - It seems that pack as a

[2014-06-12 10:00] Xandaros commented on #193
`unpack` is definitely available in starfall, I've used it before. `pack` doesn't even exist in Lua.
There is table.pack, though(In Lua 5.2), but I don't see the point of it...

[2014-06-12 13:59] #42 closed, assigned to nobody

[2014-06-14 09:03] googlweknoall opened #195 "player_methods:getActiveWeapon() backing function is a string"
player_methods:getActiveWeapon() attempts to call ent:GetActiveWeapon():ClassName(), where ClassName is a string.
It should be ent:GetActiveWeapon():GetClass().

[2014-06-18 19:33] Jazzelhawk opened #198 "Print Table issue"
This is the printTable function

[code]

When printTableX is used the `alreadyprinted` arg is `{[t] = true}`
I don't really know why t is set like [t] or what it is even used for but when it is done like that it gives a table index is nil error. To fix this the arg should just be changed to `{t = true}`

[2014-06-18 19:57] Xandaros commented on #198
I can see that happening.
But I wonder... how has it ever worked?
See https://github.com/INPStarfall/Starfall/commit/983d684f2f6a75cc7cc72bbeb42e71f6b2de778e
Has always been that way…

[2014-06-18 20:07] Jazzelhawk commented on #198
Yea that's what I was wondering about. Seems pretty odd how it has worked all this time xD

[2014-06-19 17:33] #157 closed, assigned to awilliamson

[2014-06-20 17:52] #104 closed, assigned to nobody

[2014-06-21 07:59] thegrb93 opened #199 "Entity.setPos error."
[code]

[code]

[2014-06-21 08:03] awilliamson commented on #199
Thanks for flagging this. This is caused by our new Vector Type implementation. We're using some old SFLib helper functions for clamping vector positions and angles, and these were overlooked when adding compatibility. Will work on them now.

EDIT: It's also the only check Type I missed when moving over to our custom type. 1 out of ~50. Just fixed and tested it. Pull Request is in the works, expec

[2014-06-21 09:53] #193 closed, assigned to nobody

[2014-06-21 10:32] awilliamson commented on #187
We should probably rename a lot of the old standing funcs that use the old E2 naming system.

[2014-06-21 11:55] #199 closed, assigned to nobody

[2014-06-21 11:56] #195 closed, assigned to nobody

[2014-06-24 12:31] awilliamson commented on #96
Pro-Split:
- If there is a significant number of methods, then it will be clearer. Eg all entity serverside you know is related to physics manipulation.
- Already existing folder structure, if we didn't split everything would collpase down into a single folder, could get messy.
- Separation is nice for when adding features and debugging, allows you to narrow things down, maybe?

Contra-Split:
- If

[2014-06-24 12:33] awilliamson commented on #169
ref 37aa2dc
ref fe5bad7

[2014-06-24 12:33] #169 closed, assigned to awilliamson

[2014-06-24 12:35] awilliamson commented on #171
As pointed out by @Xandaros during our converstaion. Generally when you're wrapping/unwrapping you know what types you're converting to/from. When you're trying to unwrap in the general sense you usually are doing so on a table of values, and as pointed out you can use Sanitize/Unsanitize, alternatively do `SF.Unwrap( val ) or val` if you really need to return the original if it can't unwrap.

[2014-06-24 12:35] #171 closed, assigned to nobody

[2014-06-24 18:56] awilliamson commented on #177
Fixed by #205 You now do exactly as it says on the GMod Wiki.http://wiki.garrysmod.com/page/Category:os

[2014-06-24 18:56] #177 closed, assigned to nobody

[2014-06-26 11:49] #31 closed, assigned to awilliamson

[2014-06-26 11:53] awilliamson commented on #179
Decided against changing every single Type check. Instead the consensus is to remove GetTypeDef and just index the SF.Types table.

[2014-06-26 11:53] #179 closed, assigned to nobody

[2014-06-28 20:57] DummettTech opened #208 "Openchip Directive, Public View Chip Code."
Personally, as a new user to Starfall, I think a flag that would allow all users to view a chips code would be an excellent feature.

The feature would allow any user to read the chip, and not change the code, to allow new or experienced users to view the chips code, for a better, quicker learning experience. This flag would allow the teacher to simply place a demo chip and continue what they are

[2014-06-30 04:17] #185 closed, assigned to nobody

[2014-06-30 05:10] #183 closed, assigned to nobody

[2014-06-30 20:20] NotAkitake opened #212 "Color==Color not working"
Not sure if this counts in #189 but I've been quite annoyed by something lately.

if Color(255,0,0)==Color(255,0,0) then
    print("true")
else print("false") end

prints false.
(From what I've seen it just looks like Color doesn't have any function related to it yet, so that means no equal function either I suppose, but just in case that still shouldn't happen I wanted to point it out)

I'd actua

[2014-06-30 20:59] awilliamson commented on #212
See #34

It sort of counts, color is implemented in builtin and we just wrap it. We don't do what we've done with the other types which is to define a load of methods and metamethods. However, the __eq metamethod can easily be added from within SF I believe, then this would allow you to compare them in whichever way you want.

[2014-06-30 21:06] #212 closed, assigned to nobody

[2014-07-03 09:50] #3 closed, assigned to nobody

[2014-07-03 09:58] Xandaros opened #213 "Make including files more convenient"
It is very inconvenient, to use --@include probably/very/long/path/to/script.txt and then require("probably/very/long/path/to/script.txt").
Every time you have to make the decision of either grabbing your mouse, and copy that string or type it out all again. If you have just a few includes, this gets very annoying.
#2 attempts to fix that, but we have since found too many issues with that approach

[2014-07-03 16:08] #2 closed, assigned to nobody

[2014-07-03 16:13] awilliamson commented on #17
Is now irrelevant #215

[2014-07-03 16:13] #17 closed, assigned to nobody

[2014-07-03 16:21] awilliamson commented on #167
Closed by #215

[2014-07-03 16:21] #167 closed, assigned to nobody

[2014-07-06 01:26] wraith321 opened #216 "The new Vector type can't be divided by numbers"
I think this should be added to the Vector type, so that the following is valid again:

Vector(1, 1, 1) / 2 == Vector(0.5, 0.5, 0.5)

[2014-07-06 12:51] NotAkitake opened #217 "There is currently no way of getting a player's aimEntity."
The title speaks for itself.
There is no implementation of Player:GetEyeTrace() yet (I checked players.lua, docs, and did a bunch of tests to make sure).

[2014-07-06 12:58] NotAkitake commented on #213
I agree with that, I find it kind of annoying to have to include and then require, it's a two step thing whereas in most languages, you simply include it and it does the rest of the work for you.
I guess in lua that would not be exactly possible (or not similar) but we can get close by doing it the way you propose.

"Another idea is to add another preprocessor directive that includes the file and

[2014-07-06 17:02] Xandaros commented on #216
Dividing a vector by another vector doesn't make sense. Dividing a vector by a scalar, does.

[2014-07-06 17:09] wraith321 commented on #216
That's exactly what I meant with this issue ^^. Vector by Vector division isn't needed

[2014-07-07 10:49] zoombahh opened #218 "incorrect doc comments in the net library"
in Starfall / lua / starfall / libs_sh / net.lua the parameter names dont match the names in the doc blocks above the functions.

**code:**
[code]
**and documentation:**
[code]

[2014-07-07 14:14] AlexanderArvidsson opened #219 "Holo scale incorrect on certain models"
I've been testing around with models and I've found that scaling holos that has the model set to any of the hologram models will scale them incorrectly,
There may be more models that this happens on, but I have only found that the models from "models/holograms/*.mdl" scales incorrectly. Any other model works fine (I have yet to find another one that does not work, so I assume it is only the hologr

[2014-07-07 17:30] zoombahh commented on #219
Since this should be read by more people than chatspam on inp.io:

In e2 (rather, the gmod_wire_hologram entity) the scaling has an explicit exception for hologram models. See below.
https://github.com/wiremod/wire/blob/master/lua/entities/gmod_wire_hologram.lua

[code]

Under the assumption that GetBoneCount() returns 1 for the e2 models. this means that they would get scaled by using `self:Manip

[2014-07-07 17:58] awilliamson commented on #219
Seems to me that this is wiremods fault and we shouldn't have to add an exception for their models. Our users should be able to do this given that they know the differences. I haven't studied this much as I'm away right now, I'd like to get @xandaros opinion on this.

[2014-07-07 18:02] awilliamson commented on #216
Perhaps we'll add this. Until then multiply by fractions. Using the div metamethod you would get a lot of check type exceptions so I'd like to add extra functionality to that check so we can have functions for operators that won't give odd errors that are useless to the user.

[2014-07-07 18:07] zoombahh commented on #219
If we had the tools to do it ourselves I would implement the exception myself. Can we scale bones from SF?

As always the "userspace" workarounds also pose a hurdle to new / uninformed users who stumble upon the same old issues.
On the other hand I agree that implementing wire hacks/exceptions should be carefully evaluated and avoided where possible.

[2014-07-07 18:44] awilliamson commented on #219
As far as I'm aware all normal models work, it's just wiremods that are special. Yes it poses a barrier for new players but they won't be wanting to use wiremod models and it would then be common knowledge that you have to have a work around to use them models. Such exceptions even exist within wiremod itself.

[2014-07-07 18:47] AlexanderArvidsson opened #220 "Metamethod __div is missing from Vector type"
Title says it all.
And please don't tell me you're not adding it because it's easy enough to just make a function that does it, because we already have __mul, __sub, _add, etc.

[2014-07-07 18:53] wraith321 commented on #220
#216 ^^

[2014-07-07 18:58] wraith321 commented on #216
Isn't it actually the same to the user if he tries to divide a Vector at the moment, which isn't possible at all - or with invalid types, if it were possible with numbers?

[2014-07-07 19:01] shadowscion commented on #219
This is wiremod's fault, they have switched back and forth between XYZ and YXZ several times since GMod13 hit. Please don't change the way starfall works to accommodate their inconsistency. If you really want it to work that way, you can do it yourself from within starfall.

[2014-07-07 19:07] shadowscion commented on #218
I thought the net library was removed?

[2014-07-07 19:08] AlexanderArvidsson commented on #220
Oh, woops, didn't see that, sorry. I'll close this issue and let yours live on.

[2014-07-07 19:08] #220 closed, assigned to nobody

[2014-07-07 19:14] AlexanderArvidsson commented on #217
Starfall has a trace library, you can use that.
But having a function for the player eye trace would definately be acceptable!

[2014-07-07 23:06] Xandaros commented on #217
Eye trace is more efficient, since it is automatically done every tick.

[2014-07-07 23:08] Xandaros commented on #216
I know. There was another comment I was referencing, but it appears it has been deleted.

[2014-07-07 23:08] Xandaros commented on #218
What? no

[2014-07-08 01:17] AlexanderArvidsson commented on #219
The thing is, we can't do it ourselves, since we don't have a way to change the scaling to use ManipulateBoneScale. The problem is not that X and Y are flipped, the problem is that it uses the 'wrong' scaling function for those models.

I have started to use sprops models anyway so fixing this no longer affects me either way.

[2014-07-08 01:27] awilliamson commented on #219
Then may I recommend you go raise an issue on their github repo. It's not our fault their models require this odd exception to be scaled. If people desperately need these models then somebody could remake them and propose their addition into Starfall. You can use any model for our holos, they're just entities. People should learn to expand their palette when it comes to using holos, especially whe

[2014-07-08 01:35] AlexanderArvidsson commented on #219
At the time of opening this issue I was not sure if it only happened on wires models, and I thought it was a good idea to report all issues I could find.

The only difference these models have is that their OBB box is exact which means scaling them to units is precise, unlike sprops, phx or any other model. If you look at the very first picture, you can see a gap inbetween which is caused by a not

[2014-07-08 02:02] shadowscion commented on #219
@Metamist What scaling function should it be using, then?

[2014-07-08 02:14] shadowscion commented on #219
@Metamist ManipulateBoneScale is the only serverside function that can scale models by a vector, I am not even sure why e2 holos even have the EnableMatrix code in there.

[2014-07-08 02:33] zoombahh commented on #219
Starfall does:

[code]

while the gmod_wire_hologram scaling code uses three methods for maximum compabnillity. only ONE of theese methods applies to the wire holo models and includes the xy Hack.
copypasta from the already linked https://github.com/wiremod/wire/blob/master/lua/entities/gmod_wire_hologram.lua

[code]

as you may (or may not) see, wire uses the same method IF (and only if) `self:Ge

[2014-07-08 13:19] shadowscion commented on #219
Okay I tested it out for myself, and I have to agree... something is definitely wrong.

[code]

Using a scale of _1, 12, 1_ with the 12x12x12 cube model, you would expect a 12 wide, 144 long, 12 tall box. Instead, this is what you get:

[image](http://puu.sh/a23Cd/c1287df54f.png)

Oddly, it works perfectly fine on the hologram models that I contributed to wiremod (rcube, rcylinder, cplane). My bes

[2014-07-08 17:26] Xandaros commented on #219
As long as only 3rd party models are affected and we are forced to use hacks to remedy this, I am not inclined to do anything about it.
It works perfectly fine with any stock model and it also works fine with SProps, so it has to be wire's fault. Or Garry's, but at this point that is unlikely.

You can change the material of the an sprops prop and make it look just like a wire hologram, I think. I

[2014-07-08 17:48] awilliamson commented on #219
I agree with @Xandaros. This is wire's compatibility due to some oddity in their base hologram models. As previously said, somebody could make some base holograms for us if they wished, looking at you @shadowscion, and we'd take a look at it, but SProps works great for most applications.

[2014-07-08 18:24] AlexanderArvidsson commented on #208
Considering you can't even open your own code by right clicking your own chip, I think this request will have to wait until #70 is completed.

[2014-07-08 20:14] zoombahh commented on #219
Would there be a downside to implementing the "use ManipulateBoneScale() if there is exactly one bone" solution or (alternatively) allowing SF to access `ManipulateBoneScale()` and `GetBoneCount()` ?

Im not talking about the xy swap. that is something users should be able to cope with and a dirty hack on WM's part. I dont see what would be wrong with scaling the first bone if there is only one.
H

[2014-07-08 20:16] awilliamson commented on #208
It's a planned enhancement, of course it will have to wait, but seeing as I'll be working on the new editor system it was more of a jotting down as a future reminder and to get opinions on it.

[2014-07-09 00:07] AlexanderArvidsson commented on #219
The thing is, using sprops or any cubic model still has its own issues, because wires model is the only model I have come across that returns precise OBB size. Me and shadow just now figured out that many of sprops models OBBox is offset by 0.3-0.5, while phx models offsets are even weirder and more inconsistent.
Now this is most likely a GMod issue, but not being able to use the wire holo models

[2014-07-09 00:22] AlexanderArvidsson commented on #118
Would be cool if it had CPPI implementation as well, so you can applyforce people in your prop protect friends list.
For those unaware, CPPI is like the guidelines of PP systems, and it makes it so addons work with all kinds of PP systems.

[2014-07-09 01:27] Xandaros commented on #118
Not CPPI, we have our own permissions system, which is still missing an interface, but it exists.
And FYI, we aren't blocking player, it just doesn't work. [Code](https://github.com/INPStarfall/Starfall/blob/develop/lua/starfall/libs_sv/entities.lua#L161)

[2014-07-09 23:57] AlexanderArvidsson commented on #118
But then you won't be able to use i.e apply force on other players through pp systems, unless you are making a way to give certain player permission to do certain things, like applyforce.

[2014-07-10 10:58] Xandaros commented on #118
Didn't I say we already have a system and it is just lacking an interface? …

[2014-07-10 11:00] AlexanderArvidsson commented on #118
Right, sorry, but I couldn't possibly know what is and what is not already implemented. The last time I heard about this permissions system was quite a while ago, and at that time you hadn't implemented it yet. Since then I had not heard anything else from it, so I didn't know if it was fully implemented or not.

[2014-07-11 07:06] TylerB260 opened #221 "sound:setVolume doesn't take the delta argument, always errors"
The code for the sound:setVolume function doesn't include a delta variable, so it always errors.

addons/starfall-develop/lua/starfall/libs_sh/sound.lua:119: bad argument #2 to 'ChangeVolume' (number expected, got no value)

[2014-07-11 13:58] Xandaros commented on #221
Supersedes #174 (Because that was closed for some reason)

[2014-07-11 16:31] RoboLV opened #222 "Mul Vectors"
Hello!
I have this problem:
I try to mul vectors ( Vector(2,2,2) \* Vector(3,4,5) == Vector( 6,8,10) )
But i got ERROR:
"starfall/RayTraceX.txt:73: Type mismatch (Expected number, got Vector) in function __mul"
Code :
------------------------------------- vector-------number-------num--------vector
73 : local color = Vector(255,255,255)*(1-tr.Fraction) \* Box \* Vector(255,155,0)

[2014-07-11 16:49] awilliamson commented on #222
There are more than two ways to do vector - vector multiplication. Using the mul metamethod only accepts vector-number multiplication or multiplication by a scalar.

[2014-07-11 16:49] #222 closed, assigned to nobody

[2014-07-11 19:39] RoboLV commented on #222
Ok,then show me the way, to mul vectors without creating any aditional metods.
For example this task :  Vector(2,2,2) \* Vector(3,4,5) \* 10

[2014-07-11 23:50] Xandaros commented on #222
There are many ways to multiply two vectors, the most common ones are cross and dot product, which we provide methods for.
If you need to do some weird multiplication (like component-wise, as you appear to be doing), you will need to define that yourself. We can't handle every corner case.

[2014-07-14 15:14] RoboLV opened #223 "IGModAudioChannel"
Hello every one!
What about IGModAudioChannel ( bass.dll ).
I think there everyone knows about sound_url in e2, and my idea is to add that feature to Starfall :)
( http://wiki.garrysmod.com/page/IGModAudioChannel/FFT )

[2014-07-14 19:27] sirdabalot opened #224 "How do you get components of an angle?"
Sorry this is probably such a stupid question but I've looked everywhere and tried everything, even using ang[ 1 ] in the same way you get vector components, but nothing's working, how do I do this?

[2014-07-14 19:31] sirdabalot commented on #224
Found after a little more searching on previous issues xD My apologies, closing now. If anyone else is wondering its ang.p .y .r

[2014-07-15 13:21] Xandaros commented on #224
If ang[1] is not working, we might want to add that, I'll reopen the issue for now.

[2014-07-15 16:24] monkstick-git opened #227 "Wire inputs un-wiring on advanced dupe2"
Using a brand new copy of Starfall and a brand new copy of Advanced dupe 2, I cannot get wire inputs to save when duped.

Before: http://puu.sh/acwkl/3846f34b02.jpg

After: http://puu.sh/acwlL/2e252c3b76.jpg

If there's some kind of internal function I need to run to find wired objects then I apologize, but I can't seem to find anything on the internet regarding the issue.

[2014-07-15 18:58] Xandaros commented on #227
Wire inputs are created from code, which means they don't exist when the entity gets spawned.
Maybe we can add the ability to wire to other entities from code, that would solve the issue.

[2014-07-15 19:28] awilliamson commented on #227
We've discussed this before and I believe we agreed to add wire-to functions but once other more important features are implemented.

[2014-07-15 20:05] RoboLV opened #228 "Broken string.explode"
When i trying to explode string i got :
local tab = string.explode( "#", "This#is#String" )
for k,v in pairs( tab ) do
   print( k )
end

i got this
1

only one element in table

[2014-07-15 20:07] awilliamson commented on #228
Have you tried seeing what the value is at that index. I hazard a guess that it's the original string.

[2014-07-15 20:55] monkstick-git commented on #227
Just putting out my two cents from my own community;

None of us want to invest time in using Starfall for actual contraptions until we can rely on wire inputs and outputs being saved.  Its extremely annoying to re-wire everything every time we spawn something in, so for us personally, we think its a very important feature if people want to use it for more than screen fractals and the like, but th

[2014-07-16 01:17] Xandaros commented on #228
This is indeed a bug, but not in the way you expect.
If starfall has a string.explode function, that is not intentional, because standard Lua doesn't have that…

[2014-07-16 21:32] awilliamson commented on #228
As @xandaros said I don't believe we have it. please ensure you test it in single player or on our server at inp.io. To ensure the problem is related to our original code.

[2014-07-17 02:37] shadowscion commented on #228
[I don't know if this is what you are talking about or not](https://github.com/INPStarfall/Starfall/blob/develop/lua/starfall/libs_sh/builtins.lua#L154)

[2014-07-18 10:45] Xandaros commented on #228
Yup, that's a bug - we need to get rid of that.
That aside, as you see we are passing your arguments straight to garry's function, complain to him :P

[2014-07-20 23:04] sirdabalot opened #229 "Math.sin not working as expected"
Hey, as the title says math.sin is not producing expected results, I have made a simple test program to draw sections on to a screen; this is the code:

[code]

Instead of sectioning the screen in 45 degree angles I'm presented with this:
![image](https://cloud.githubusercontent.com/assets/5678352/3638806/ffedb6ea-1061-11e4-862f-bf1a0c533e2b.png)

Which just isn't right; can anyone help me?

[2014-07-21 01:00] awilliamson commented on #229
Because trig functions take radians, not degrees. You'll mainly work in radians where accuracy is key, as you can represent them as fractions of Pi, I used them extensively throughout A-Level Maths.

[code]

A circle consists of 2Pi Radians. It's the angle subtended by an arc whose length is equal to the radius of the circle. As such a radian is fixed regardless of the radius size, the angle is ve

[2014-07-21 08:59] sirdabalot commented on #229
Ah, my mistake, I guess other languages converted to radians for me. xD I'll close the issue, now. Thanks for your help. =D

[2014-07-21 09:19] #229 closed, assigned to nobody

[2014-07-27 17:28] SandvichDISH opened #230 "Your Vector lib is simply unusable."
First of all, there is no division function, so that's unbelievably impractical.
Second, the fact that you can't multiply a Vector by another Vector is also unbelievably impractical. It's not the worst thing in the world, but considering I had to use Vectors as Colors because someone decided you can't do arithmetic on Colors, this now makes doing mathematics with colours even more unbearable.
Then

[2014-07-27 18:33] awilliamson commented on #230
Vector-Vector division, mathematically, doesn't exist. There isn't a single definition of vector-vector multiplication as you have cross product and dot product. Since division is the inverse operation of multiplication, you can't have single division function for vector-vector.

Vector-Scalar multiplication exists, it uses the __mul metamethod. So v \* s would work just fine. If you want vector-v

[2014-07-27 18:48] Xandaros commented on #230
Dividing vectors by scalars is planned, see #216
Multiplying vectors by vectors _is_ possible, see [Documentation](http://sf.inp.io/classes/Vector.html), we provide the methods dot, cross and mul. We are even nice enough to provide cross-product, which is a corner-case, but happens to be insanely useful in gmod.

Arithmetic on colours? What's cyan+red? Or blue*5?

The net thing is a legitimate bug

[2014-07-27 18:55] awilliamson commented on #230
Just tested it with Color, they have the same problem with being converted to Vector. This is an issue with our custom types as our Sanitize/UnSanitize functions don't handle them correctly. We use those when converting all types within tables for sending.

[2014-07-27 19:25] SandvichDISH commented on #230
So, I just accidentally removed my comment. GG me. Let me write that again:

When I talk about dividing or multiplying the Vector, I simply mean something akin to

[code]

And have something identical to that for colours. Maybe it doesn't make sense to you, but last time I checked when I code a shader in GLSL (or an addon for Garry's Mod) basic functionality like that is provided and incredibly us

[2014-07-27 20:01] Xandaros commented on #230
planned

Doesn't make sense

Already implemented

Ambiguous. Could be cross or dot product. (Although usually you mean dot product)
Component-wise multiplication is usually not defined and you have to do it yourself. If you need a function to do that, then make it yourself. It isn't too much to ask, is it?

If you use vectors for a coordinate, that is called a position vector and only means that t

[2014-07-27 20:18] SandvichDISH commented on #230
Well if you want to be pedantic about it, you can remove this functionality that Garry's library has. I'm no computer scientist or mathematician, but I have enjoyed Garry's Mod a lot over the past 6 years, and quite frankly if you're going to replace Garry's libraries and reduce the functionality in return over the sake of semantics then be my guest. But I will stop using starfall.

Because unlike

[2014-07-27 20:27] Xandaros commented on #230
![](http://i.imgur.com/1BV0QGE.png)

I don't even know what that is supposed to return. 0, 65025, 0? That's not a valid colour, though...

It does! But colours, doesn't. If you can tell me what cyan*blue is and why that makes sense, I will implement it, but at the moment, I don't see how multiplying colours would be possible.

I thought about this a few days ago and I plan to improve this, but thi

[2014-07-27 20:29] SandvichDISH commented on #230
I edited my comment to fix some mistakes I made in writing it, which you might want to look at. I am wrong that you can multiply colors in gmod lua, apparently. I'm too used to that being commonplace functionality though when working with stuff like GLSL and HLSL.

[2014-07-27 20:33] awilliamson commented on #230
You claim to have no formal or experience based Computer Science knowledge, yet you are quite adamant that what we're doing is 'wrong' and you're actually willing to stop using it because of this. As @Xandaros mentioned, we're not forcing you to use it. We're trying to help the community by providing something that is as correct as we can make it so that people don't learn incorrectly, you're an e

[2014-07-27 20:34] SandvichDISH commented on #230
I'm not claiming anything you do is wrong, I'm claiming what you do is very impractical in the context of Garry's Mod.

[2014-07-27 20:55] awilliamson commented on #230
Starfall is Lua sandbox, regardless of context. It just provides interfacing with Garry's Mod through the use of exposed Lua functions from GMod. It can relatively easily be transferred to any game which has Lua as it's embedded language. The core behind Starfall is pure Lua, the only thing that is GLua are the libraries which we use to interface with GMod.

Lua is an actual language which is deci

[2014-07-29 02:03] #189 closed, assigned to nobody

[2014-07-31 13:28] awilliamson commented on #228
Finally got around to looking into this. The param order is different in our version of string.explode. It follows string.explode( str, sep, pattern ) whereas Garry's does string.Explode( sep, str, pattern ). Just tested both functions from within game using GCompute. Our explode function works if you pass it the correct order. Reason it would return empty is because you're trying to separate a '#

[2014-07-31 13:32] awilliamson opened #233 "Convert TraceResult table using Sanitize"
At the moment when we started implemented our own types we just used the specific wrap/unwrap function and did some switching for trace result data.

We should start using Sanitize to make the code cleaner and less prone to error.

[2014-07-31 13:46] awilliamson commented on #187
Fixed by 6152d5a

[2014-07-31 13:46] #187 closed, assigned to nobody

[2014-07-31 13:49] awilliamson commented on #230
Going to close as the only issue that was raised here is now fixed and it seems that @SandvichDISH has nothing further to add.

[2014-07-31 13:49] #230 closed, assigned to nobody

[2014-07-31 14:00] #198 closed, assigned to nobody

[2014-07-31 14:01] #216 closed, assigned to nobody

[2014-07-31 14:16] #228 closed, assigned to nobody

[2014-07-31 14:16] #224 closed, assigned to nobody

[2014-08-01 23:15] awilliamson opened #237 "Test & Fix type conversion in wire lib"
Need to test if all our new types work with the wire library and mainly with their I/O and Wirelinking. This needs to be done prior to adding wire/unwire functions.

Somewhat related to #227 as it relates to work required before those functions can be added.

[2014-08-06 21:35] awilliamson opened #240 "Permission Throws end up in client clipboards."
Noticed Jerry getting a lot of
`"winfall/filesystem.txt:3: Insufficient permissions"`

I found that it ended up in my clipboard when I was trying to paste something.
Natty also reported this issue.

Unsure what's causing it at the moment, will update when more testing is done.

[2014-08-06 23:04] wraith321 commented on #240
Actually, I didn't get this error. I guess only the other clients, which denied running filesystem functions from my chip got this error.

[2014-08-06 23:32] awilliamson commented on #240
Hmm yes, as to why it automatically copied itself to the clipboard, that's not intended behaviour for errors. I know pressing E copies the error to the clipboard, but you're meant to be in range and looking at the screen for that functionality?

Again, it's not too concerning at the moment, but we'll get around to looking into it.

[2014-08-11 21:21] wraith321 opened #242 "render.drawText() ignores empty lines"
So drawing the text "\n\n\nHello" will ignore all the \n and will just draw Hello at the origin.

[2014-08-19 21:06] Tolyzor commented on #227
I'd agree with monkstick, and suggest that because this issue is such a usability killer, any other features should wait.

[2014-08-19 21:33] Tolyzor opened #243 "Confusing luaDoc formating of library names"
Example:

If one goes by the documentation, render_library.clear (clr) clears the screen, when this is not the case; the function is actually called by render.clear (clr)

Please can the naming be made consistent, so that the documentation reflects the functions exactly?

[2014-08-20 06:51] Xandaros commented on #243
If only it was that easy...
We are aware of the issue, but there are more important things at the moment. The correct library name can be seen on the left, where you clicked to open that list of functions.

[2014-08-20 15:17] awilliamson commented on #221
Working on a complete rework of the sound library. There's a lot of global functions in GLua that are rough clones of entity ones, many do the same thing. All take different arguments, all of which aren't documented unless you search through valve's developer pages to find the ENUM types. So it's taking some time because of all that.

[2014-08-20 15:23] awilliamson commented on #227
@Tolyzor To you it's important, but this is rather subjective. From the people we know using starfall and those on the official test server, we've not seen anybody use starfall in the use case given. So it's not really a global usability killer, you could consider most of the features we plan to implement usability killers until such a time as they are implemented. It depends on the number of peop

[2014-08-21 06:23] monkstick-git commented on #243
Is it a public wiki so Tolyzor and myself can apply the changes.  Its not really a difficult change, just something which takes maybe an hour or so.

[2014-08-21 08:51] awilliamson commented on #243
@monkstick The docs are generated from code, so changing those library names in the docs isn't as easy as it looks as @xandaros said. Sure we could go through and manually do it, but then it would revert after every push.

We have ideas about how to tackle the problem.

[2014-08-21 19:00] Xandaros opened #244 "Screen hello world example not working"
Someone deleted the creation of the font...

[2014-08-21 19:00] Xandaros opened #245 "Expose getEyeTrace"

[2014-08-21 22:02] awilliamson commented on #244
@Xandaros Yes, but I also found the fault in this example, will fix soon(TM).

[2014-08-22 10:32] #245 closed, assigned to awilliamson

[2014-08-22 10:46] #233 closed, assigned to nobody

[2014-08-22 16:06] Xandaros opened #248 "Missing typecheck in drawTexturedRectUV"
[code]

[2014-08-23 17:27] Xandaros opened #249 "Add model preprocessor statement"

[2014-08-23 17:28] awilliamson commented on #249
Thought we had this somewhere in our issues before, but agreed that it should be added.

[2014-08-24 13:25] awilliamson opened #250 "Add user exposed initialise and deinitialise hooks."
These hooks would run first time the chip is spawned, but after preprocessor and still subject to cpuTime checks, similarly the latter would be responsible for a last run prior to the chip being deleted. Use case example could be for setup and for removing holograms and/or attached entities prior to deleting the chip.

[2014-08-24 21:13] awilliamson commented on #217
Fixed by #246, 542aef5

[2014-08-24 21:13] #217 closed, assigned to nobody

[2014-08-24 22:01] #248 closed, assigned to nobody

[2014-08-26 20:52] Xandaros commented on #188
Since we are using CPU-time now, is there any issue left about implementing it?
We can just expose CapturePixels and if people abuse it, they will simply quota.

[2014-09-03 11:22] #221 closed, assigned to nobody

[2014-09-03 14:57] glebqip opened #253 "holo:setColor"
Is holo:setColor work? I can't change a color on holos(no errors).

[2014-09-03 15:21] awilliamson commented on #253
It works fine. In the future when making an issue, please provide more information. Code that you're using that causes the issue, perhaps some investigation of your own to try and narrow the problem.

Try looking at this:

[code]

This should produce a barrel, which rotates above the chip, whilst changing color. If it does not, please ensure you have an up to date version of Starfall, after all of

[2014-09-03 15:21] #253 closed, assigned to nobody

[2014-09-04 22:39] awilliamson commented on #188
Just hacked in both CapturePixels and ReadPixel into a single player game.

[code]

I then played around with it in singleplayer, used the 'minecraft shader' example and made a neat little demo which will probably make it into an example at some point if @Xandaros agrees ofc.

[code]

Some screenshots:
![](http://cloud-4.steampowered.com/ugc/546381409375767041/B1F444108F8DB83499ACD8D46A32806554638

[2014-09-05 06:57] #188 closed, assigned to nobody

[2014-09-05 07:00] Xandaros commented on #188
Actually,if you create a render target, it can be transparent. The main render target always has a opacity of 255, but the the other ones don't...
But it's not like we can detect that. :(

[2014-09-05 07:50] Xandaros opened #256 "quotaUsed docs"
Simply not true

[2014-09-05 14:04] glebqip opened #257 "No sound.emitEntity?"

[2014-09-05 14:04] glebqip opened #258 "Can you create a HUD paint?"

[2014-09-05 14:04] glebqip opened #259 "Can you create a DataSignals?"

[2014-09-05 14:49] wraith321 commented on #259
Use the [net library](http://sf.inp.io/libraries/net.html)

[2014-09-05 14:52] wraith321 commented on #257
Use [sounds.create ( ent, path )](https://github.com/INPStarfall/Starfall/blob/develop/lua/starfall/libs_sh/sounds.lua)

[2014-09-05 15:09] glebqip commented on #259
Net library can't send information to another SERVER chip...

[2014-09-05 15:09] awilliamson commented on #259
http://sf.inp.io/libraries/hook.html#hook_library.runRemote remote hook execution, we've had it for a while. Reading the documentation of the net library from the official docs may prove useful to you.

[2014-09-05 15:10] glebqip commented on #257
Loop sounds plays one time?

[2014-09-05 15:10] awilliamson commented on #258
Render code for HUD's is a planned feature, we have other more important features before implementing this, but it is on the board.

[2014-09-05 15:12] awilliamson commented on #257
If the sounds don't automatically loop, then consider checking if the sound isPlaying and if not, play again. I tested some loops sounds when making the library, generator sounds to be precise, and they seemed to loop fine.

[2014-09-05 15:12] #257 closed, assigned to nobody

[2014-09-05 15:13] awilliamson commented on #256
Ahh, yes, this should probably be changed, this was part of the initial cpuTime commits, which Used has changed/worked since then. Feel free to propose a new description and PR it.

[2014-09-05 15:21] glebqip opened #260 "Error in input hook"
I have 2 chips. 1st have a output, second a input. It's connected. When i change output, chip crashes with:

[code]

[2014-09-05 15:23] awilliamson commented on #260
Code would be nice to try and reproduce the bug.

[2014-09-05 15:30] glebqip commented on #260
[code]

---

[code]

---

Spawn 2 chips, connect it and update a Output chip. You must get a error.

[2014-09-05 16:59] AlexALX opened #261 "Add trace.QuickTrace"
Can you please add this function http://wiki.garrysmod.com/page/util/QuickTrace to starfall trace liblary? This allow trace from startpos + direction and get endpos (without know end pos). This needed for example when try trace using getpos+angles of prop etc, because right now i can't get it work correct with angles (i need trace with direction + 200 game units).

I also can help with code for th

[2014-09-05 17:34] awilliamson commented on #261
I don't understand why you need QuickTrace. It's just a convenience function added by Garry, that's why it's not in our trace lib, and it's pretty straight forward from the looks of it.

https://github.com/garrynewman/garrysmod/blob/4eb9bb19dcfac06007691376ecaf2dbc56efa6b2/garrysmod/lua/includes/extensions/util.lua#L55

If you want that functionality in your code use our trace function. End pos is

[2014-09-05 17:34] #261 closed, assigned to nobody

[2014-09-05 17:37] #259 closed, assigned to nobody

[2014-09-05 17:38] awilliamson commented on #260
I ran both chips, wired them up, and "Input -95" popped up in chat. Appears to work, cannot reproduce, closing until such a time as somebody can prove this is broken.

[2014-09-05 18:29] glebqip commented on #260
But, i have this bug. Have you **update Output chip** after connecting?

[2014-09-05 18:30] awilliamson commented on #260
Ensure you are using the latest INPStarfall repo for this.

[2014-09-05 18:31] glebqip commented on #260
**awilliamson**, i use a official latest starfall (not TSCM)...

[2014-09-05 18:38] Mijyuoon commented on #260
The fix:

[code]

[2014-09-05 18:41] Xandaros commented on #260
This only happens because you are trying to link two starfalls. I just explained to Radon how to fix it. (Thank you @Mijyuoon, my solution is basically the same, but at a different location)

Instead of linking two starfalls, you can use remote hooks, you know... that's why they exist :P

[2014-09-05 18:42] awilliamson commented on #260
Seemed to misunderstand the initial bug reporting. Wasn't aware that this happens when updating the output chip after wiring. Looking into this now, I am indeed getting a silent error in console.

[2014-09-05 18:45] AlexALX commented on #261
Ow sorry then, didn't know about this. Thank you.

[2014-09-05 19:11] #260 closed, assigned to nobody

[2014-09-06 19:13] Xandaros opened #262 "Fireplace example"
It is in the processor folder...

[2014-09-07 12:02] glebqip opened #263 "Can you add a ply.keystate?"

[2014-09-07 15:12] Xandaros commented on #263
And what would that do? Can't find anything like that on the Garry's Mod wiki, maybe link us to Garry's function?

[2014-09-07 18:02] glebqip commented on #263
It's a table on player with all keystates.(for example, see to wire keyboard code)

[2014-09-11 17:06] glebqip commented on #257
EmitSound plays all sounds once, but sound.create():play() plays sound as a loop.
And i can play more than 1 same sound.

[2014-09-12 01:58] AlexALX opened #264 "sounds.create with loop sound without loop"
You have removed function emitsound, and now we have use sounds.create, but if sound have loop inside - sound playing now infinitely, there is also no function to get sound time, so how i should stop sound with loop if i want play it only once without know sound time? Emitsound was playing any sound only once, even if it has loop.

[2014-09-14 10:49] glebqip opened #265 "Is jit.off() needed to current CPUTime?"
You changed a quota checking, but command didn't removed.

[2014-09-14 12:57] Xandaros commented on #265
We need to turn jit off, so the hook fires deterministically. If you turn it off, it doesn't do that and you might be able to crash the server if you just try often enough.

[2014-09-14 12:57] #265 closed, assigned to nobody

[2014-09-14 12:58] Xandaros commented on #264
If it loops, it loops. If it doesn't, it doesn't.
If you want to loop a non-looping sound, start it again after it finishes.
If you don't want to loop a looping sound, stop it after it finishes.

[2014-09-14 14:45] AlexALX commented on #264
Do you understand that if i don't know sound time of looped sound how i can stop it without set this time manually for every sound what i want? And why even i should do this is there was normal function what did exactly what i want? If i have over 20 different sounds to play i need get every sound timing and write stop when i need this? Isn't this is just stupid? Function emitsound was made exactl

[2014-10-07 20:16] awilliamson commented on #264
Didn't read whole text, but if you want the broken, not working sound library back, feel free to go grab it. I find that a working sound library is useful. All sounds are defined and known prior to spawning, you should therefore use a structure that stores the duration as well, the E2 sound browser has the information you require. It's not like you're picking things randomly at run-time or anythin

[2014-10-13 15:19] AlexALX commented on #264
1. I don't want old sound library, new is better, but it lack simple emitsound function what don't care about loop/non loop sounds.
2. Storing duration is bad way, because if use server-side code, and stop sound after playing - due to server/client lags you can hear few times on client after it actually stopped on server. This means i need to do sounds on client, but this is just a bit stupid.
3.

[2014-11-29 16:45] #262 closed, assigned to nobody

[2014-12-23 01:52] #244 closed, assigned to nobody

[2014-12-23 01:57] #152 closed, assigned to nobody

[2014-12-23 01:58] #80 closed, assigned to awilliamson

[2015-01-03 22:26] Jazzelhawk opened #279 "Updating new code to other entities after uploading to one already"
To reproduce this, spawn two screens, update the first screen with some new code, then update the second screen with the same code and the second screen will run with the old code.

[2015-01-17 01:23] wraith321 opened #280 "coroutine.resume() passes only the first argument"
The following code results in "1, nil, nil, nil"
[code]

[2015-01-18 01:45] #280 closed

[2015-01-24 03:03] wraith321 opened #282 "Color values can't be changed"
[code]
result:
255 255 255 255
255 255 255 255
1

[2015-01-24 12:06] awilliamson commented on #282
iirc, rawset should be working as expected. I will do some testing later as I'd certainly prefer the elegance of a single line than a lot of checks.

Color[1] should work. And maybe Color["r"].

[2015-01-24 20:55] #282 closed

[2015-01-31 16:04] Xandaros commented on #279
@awilliamson Didn't you fix this?

[2015-02-01 02:24] awilliamson commented on #279
@Xandaros I remember investigating this with @Jazzelhawk on INP. Pretty sure we found the root cause, I believe the changes are on Jazzel's branch waiting to come in.

[2015-02-01 22:02] Jazzelhawk commented on #279
Nope, I found the cause but you were going to totally redo the code sending stuff. @awilliamson made [this branch](https://github.com/awilliamson/Starfall/commit/91961042419c790170dcb081dacd448938935ebe).
But I think the cause was to do with the `local hashes = {}` in `lua/entities/starfall_screen/cl_init.lua` being shared between each screen. I suggested creating the hashes table on the entity wh

[2015-02-08 20:48] luke130697 opened #287 "find.findAll() not finding NPC's"
I could be wrong, but I've tried everything including printing all entities and it doesn't seem to be finding NPC's.

[2015-02-17 14:23] awilliamson commented on #287
http://sf.inp.io/libraries/find.html

I'd like to point out that find.findAll does not exist. The correct function is probably find.all(), you can optionally pass a filter to this :D

[2015-02-17 14:23] #287 closed

[2015-02-19 22:56] EpicG opened #289 "hologram:setClip does not clip holograms"
The code:
[code]

as well as:
[code]

do not produce a visually-clipped sprops cube.

No Lua errors are printed to my console.

[2015-03-11 07:11] thegrb93 opened #294 "Code isn't running as shared?"
[code]
I expect a runtime error, but nothing is being run on the client.

Okay, I found the problem. Starfall processor runs server-side only. Aren't the file and sound components client-side? How do I use those with the processor? I guess I can use the screen but I don't need the screen.

[2015-03-11 07:21] #294 closed

[2015-03-11 08:05] thegrb93 commented on #19
If you want to give me the code you already have, I'd like to finish this. I need propcore.

[2015-03-11 08:05] thegrb93 commented on #27
If you want to give me the code you already have, I'd like to finish this. I need constraints.

[2015-03-11 08:08] thegrb93 opened #295 "Change --@sharedscreen to --@shared and make it work for screen and processor."
I can do this, but first I need to know if it's a good idea and will be approved.

[2015-03-11 12:03] Xandaros commented on #295
Well, we originally wanted to completely separate starfall instances from their entities, so there wouldn't be a concept of "screen" or "processor" on that level.
We'd then have --@server and --@client, which would determine where the code is run. (Can also supply both)

The question that remains, however, is: What if the user doesn't specify anything? Do we have some default behaviour? will it er

[2015-03-11 12:11] Xandaros commented on #294
File at least is shared, but you will probably get a permission denied error on most servers if you try to use it on server side.

[2015-03-11 18:33] thegrb93 commented on #295
I think it should always be shared with the option of using --@server or --@client to specify that the code is server-side only or client-side only. I think the only difference between the processor, screen, and hud (to be made) should be the way the render hook gets called.

[2015-03-11 19:06] thegrb93 commented on #295
Actually what if we make it so the user can declare what the following code runs on. --@server, --@client, and --@shared with shared as default.

[code]

Then we can split the script into which parts run on the server and which parts run on the client.

[2015-03-11 20:20] awilliamson commented on #295
--@server and --@client would be preprocessor statements. Putting it inline would not work. We have a method for switching, surprisingly built into GLua, called SERVER and CLIENT.

[code]

The point that @Xandaros is trying to make, is with explicit preprocessor statements what is the expected behaviour for a script which is either not explicitly stated, or has both. I have discussed this with him

[2015-03-11 23:35] thegrb93 commented on #295
I'm aware they are preprocessor statements. They could be used to split the server and client code apart so that the server code doesn't get sent to the client. If you guys don't care about that then yeah SERVER and CLIENT work fine, but the starfall processor doesn't allow shared code for whatever reason.

The expected behavior for a script that doesn't have them explicitly stated should be share

[2015-03-12 00:10] thegrb93 commented on #27
@Xandaros do you have any WIP code?

[2015-03-12 00:11] thegrb93 commented on #19
@Xandaros do you have any WIP code?

[2015-03-12 01:04] awilliamson commented on #27
@thegrb93 It's assigned to me, so any questions should really be directed to me. There was some preliminary work a bit ago. I know @EpicG has some constraint work on his server, he'd be best to throw code here.

[2015-03-12 01:05] awilliamson commented on #19
@thegrb93 It's assigned to me, so any questions should really be directed to me.

The work was put on hold, as we weren't sure how to secure it. The permissions system wasn't working particularly well at the time. @Xandaros and I wanted to initially restrict it to 'prop_physics' and put a limiting system similar to that of the holograms on it. But no code has been written, so feel free to begin.

[2015-03-12 16:56] Xandaros commented on #295
Why?

[2015-03-12 22:17] thegrb93 commented on #295
Because you haven't stated whether it is server-side or client-side. Plus shared is probably more common.

[2015-03-13 02:38] davidsonbr commented on #27
Ask and you shall receive. [This](https://github.com/Ingenious-Gaming/sf_addons/blob/master/lua/starfall/libs_sv/constraint.lua) is what I have in regards to a constraint library.

[2015-03-13 03:18] thegrb93 commented on #27
https://github.com/INPStarfall/Starfall/pull/300

I think I'll add the GetTable function though, thanks.

[2015-03-14 23:40] thegrb93 commented on #295
I just made the processor always shared, and the screen and hud entity can be linked to the processor using the component tool.

[2015-03-14 23:40] #295 closed

[2015-03-30 13:01] Jazzelhawk opened #311 "Color method (toHSV) not working"
When trying to use the toHSV method on a color is says its a nil value. I tried adding a test function to the color library and that says nil value too. I think it was something to do with #284

This is the error if it helps:
[code]

[2015-03-30 18:55] awilliamson commented on #311
Can you include some test code so we can reproduce this issue. I'm wondering why all other colour methods work except toHSV, doesn't sound like a 'base' problem.

[2015-03-30 19:38] Jazzelhawk commented on #311
`print( Color( 255, 255, 255 ):toHSV() )`

And there's only one colour method which isn't a metamethod.

I'm pretty sure the problem is in the __index metamethod. The __index method is only called when the key to a table doesnt exist. In [this line of code](https://github.com/INPStarfall/Starfall/blob/03f90b74b8724c3f1a373bbfa58233e01dc1cbc4/lua/starfall/libs_sh/color.lua#L46) you are basically ju

[2015-03-30 20:04] awilliamson commented on #311
If the index is ( 1, 2, 3, 4, r, g, b, a ) it will rawget ( which doesn't use __index metamethods for access ) on the unwrapped colour table. Any other indexes will use rawget ( again, no use of __index metamethod ) on the wrapped color table. This allows people to add custom values to the wrapped table, without changing the underlying structure.

I fail to see what the issue is here, I can't repr

[2015-03-31 08:22] awilliamson commented on #311
Fixed by 2a19dac676e1cd2af9b30b2754f92d75aacf1a3c

[2015-03-31 08:22] #311 closed

[2015-04-02 05:08] #289 closed

[2015-04-03 17:25] Jazzelhawk opened #315 "Find library filter type check"
There is only one type check for the filters in the find library apart from the inBox function which seems to do it properly. [line 34 - find.lua](https://github.com/INPStarfall/Starfall/blob/develop/lua/starfall/libs_sh/find.lua#L34)

And the level is set to 1 in the type check but it doesn't lead to a helpful error message:
```addons/starfall/lua/starfall/instance.lua:37: Type mismatch (Expected

[2015-04-03 18:47] thegrb93 commented on #315
Unrelated, but is the find cooldown necessary? I've always wondered that. I think the cpu quota is enough. I think I might remove that cooldown if nobody has any good reason for it.

[2015-04-05 17:43] awilliamson opened #316 "Preprocessor error handling"
Preprocessors currently don't have a nice way to relay error messages. I believe recent changes allowed the instance to be known when preprocessors are ran. I know by definition that these should be run prior to chip code, however they still require GMod entity to 'exist'.

We should provide an internal system for error handling, any errors should be caught in a safe way and relayed if possible to

[2015-05-16 18:33] EpicG opened #323 "Editor file extensions"
Files have a .txt extension appended to them no matter what the file name is.

For example:
"sampletext" becomes "sampletext.txt"
"lensflare.lua" becomes "lensflare.lua.txt"

Maybe make the editor save as .lua file if no extension is given, otherwise use the one supplied.

[2015-05-16 18:36] davidsonbr commented on #323
[ Blame Garry ](http://wiki.garrysmod.com/page/file/Write)

[2015-05-16 18:36] #323 closed

[2015-07-02 20:28] EpicG opened #335 "Find library does not find vehicles"
Easily resolved by creating a shared vehicles type / library as find will either wrap the object or ignore it completely.

[2015-07-15 13:32] miyoyo opened #337 "Disconnect: [USER] overflowed reliable buffer"
I was playing around with a way to make the server control the client entirely by the net lib, and everytime I run it, a few milliseconds later, I'm automatically kicked.

In the console, I can see that I send one request, then recieve one, then send eleven other requests while not recieving them, then I exceed the CPUQuota and get kicked

Here is my main code:
http://pastebin.com/w7vNcF6e
and the

[2015-07-15 15:51] Jazzelhawk commented on #337
You're sending a request every think tick, which is why you're exceeding the tick quota. The overflow of the reliable buffer is because you're sending too many net messages. Hopefully you can fix your problem.

Slightly unrelated, on line 12 of the lib you are putting "action" into the table, but it does not exist.

Also this isn't really the place to ask for help since this is for the development

[2015-07-15 15:54] miyoyo commented on #337
This isn't a call for help,as I know what's wrong, the problem is that starfall don't protect the user by limiting the network, therefore letting the game kick him.

But thanks for helping!

[2015-07-15 16:16] Jazzelhawk commented on #337
Sorry, I misunderstood. I just tried your code on a server and it exceeds the tick quota but it does not kick me. Not too sure why it is kicking you.

[2015-07-16 07:47] Xandaros commented on #337
We are limiting the amount of net messages you can send. Maybe we need to factor in the size of them, as well. That doesn't get checked at the moment...

[2015-07-28 21:19] edgarasf123 opened #338 "Sound Issues"
When you try playing multiple sounds, it would only play some of them. It's a source engine issue, but it can be fixed using http://wiki.garrysmod.com/page/sound/PlayFile .
Video: https://copy.com/YmVkinz91Rna/2015-07-28_14-10-49.mp4

This issue is also related to issue I created regarding wiremod spu https://github.com/wiremod/wire/issues/795 .

[2015-08-25 11:23] awilliamson commented on #315
@Jazzelhawk Is this issue resolved? If so, please close.

[2015-08-25 14:10] #315 closed

[2015-08-26 09:31] awilliamson commented on #279
@Jazzelhawk I thought the changes on that branch worked? I managed to repeat the bug from your steps, tried the hashbrowns branch, and the problem is gone? 'Should' work as a fix?

[2015-08-28 02:34] Jazzelhawk opened #339 "Editor clipboard hang on Linux"
So when you paste something into a DHTML panel on Linux the game hangs and this is particularly annoying when pasting in a model string for the new model preprocessor statement.

So I thought a decent solution would be to make a sort of model selector ( like the prop menu ) so that when you click on a model it inserts the model string into the editor where the writing cursor is currently located.

[2015-08-28 02:37] #249 closed

[2015-08-28 02:58] awilliamson opened #340 "Entity SetTrigger/StartTouch/EndTouch/Touch"
See: http://wiki.garrysmod.com/page/Entity/SetTrigger

Problem is GM-code would look for those functions on the GM(underlying) entity. We can't pre-modify 'all' entities with those functions. We would have to have some method for creating those functions on entities adhoc, which bind to the SF-layer. SF has GM as underlying, so we've have to go backwards, make SF code generate GM code on-the-fly a

[2015-08-28 03:01] awilliamson opened #341 "Entity get/set submaterial"
http://wiki.garrysmod.com/page/Entity/GetSubMaterial
http://wiki.garrysmod.com/page/Entity/SetSubMaterial

Relatively new feature, added ~Feb 2015? Remember it being requested from somebody ( can't remember who sorry :c )

[2015-08-28 04:45] davidsonbr commented on #340
I had to deal with this in my panel library that I have yet to finish.
Gimme a sec to find it.

[2015-08-28 04:53] davidsonbr commented on #340
[Here](https://github.com/Ingenious-Gaming/sf_addons/blob/master/lua/starfall/libs_cl/panel.lua#L24) is what I did.

We could modify the __newindex to make it so that if the user changes "startTouch", "touch" or "endTouch" keys the actual functions will set the instance, run the function and reset the instance.

[2015-08-28 05:36] awilliamson opened #342 "Local-based documentation"
@EpicG and I have been discussing the benefits of a local-based documentation system, hinging around the extensibility point of view.

Many people, if they modify their SF instance from stock, won't get documentation for their addons. If the local user wishes to generate documentation they would need to install the LuaDoc module and run it on their system, having been told the command to use. This

[2015-08-28 05:51] davidsonbr commented on #342
An idea just popped into my head that will most likely sound extremely dumb once I finish typing it out. I'm going to do it anyways.

 What I'm thinking of is a seperate addon that can be bundled to work with starfall. The addon would be installed on a server / client that wants to generate the documentation into the JSON based documentation that I have been working on ( [here](https://github.com/

[2015-08-28 05:54] EpicG opened #343 "Scriptable tool"
Just finished writing my heart out so this is probably going to be a meh idea.

What this would do is allow the user to use a tool-gun that can have a starfall script uploaded to it.
It would be a starfall implementation of [this](http://wiki.garrysmod.com/page/Category:TOOL_Hooks)
Similar to a the way screens currently work it would be able to have client and server code.

[2015-08-28 06:34] awilliamson commented on #343
This would tie in nicely once we've abstracted the Instance away from GM ents, as it would essentially then just be an entity container. Aslong as you expose and interface to the TOOLS functions, should be fine.

Obviously more discussion on what purpose this toolgun would serve, and whether it's something users would want, should be had. Flesh out the idea more etc.

[2015-08-28 12:26] Jazzelhawk commented on #342
I think having the documentation generator part of the main addon instead of another addon would be best since it would mean documentation could be generated at any time for anyone. Where as if it were a different addon it would be difficult to know when to switch the SF Helper between sf.inp.io/doc.json ( or communities version ) and local/server files. If it were part of SF then it could generat

[2015-08-28 15:00] suunrider opened #344 "SF editor not working for non UK/US Keyboard layouts"
Ctrl-Q and AltGr-Q close the editor. But in german and other keyboard layouts AltGr-Q types a @ (at). So if you type AltGr-Q with german keyboard layout the editor closes and no @ gets typed.
Is there also any way to get old editor back? The new one is buggy, behaves strange, less configurable, laggier and crashes my game (it sucks).

[2015-08-28 16:21] Jazzelhawk commented on #344
I can add a setting to disable the Ctrl-Q keybind.

The reason I made a new editor is to move Starfall away from the Wiremod dependency so it is not certain that we will add support for the wiremod editor.
Could you elaborate on how the editor is buggy, strange behaviour and crashes? What are your suggestions to make the editor more configurable?

[2015-08-28 18:54] Xandaros commented on #342
Having doc generation baked into SF is a good idea. It would still require third party developers to write documentation, though, there's no way around that. (I looked, as far as I can tell, you can't get the name of parameters of a function. Unfortunately :/)

If we make it modular enough, it might serve as generating both JSON and HTML. You could then call it from within SF to generate the JSON

[2015-08-28 19:02] davidsonbr commented on #342
To prevent sending the files every time a player connects to a server, we would have to store it in data being that is the only place we can write to in-game. As long as comments are sent when AddCSLuaFile is called, we will be able to parse through them to make the JSON / HTML files

data/starfall_doc/json
data/starfall_doc/html

Only problem with that is when the player joins another server that

[2015-08-28 19:02] Xandaros commented on #343
:+1: straight away. Sounds awesome, I'm sold :P

[2015-08-28 19:05] Xandaros commented on #342
Well, I was thinking of caching them in memory, but writing them to disk would certainly work. However, if you don't want to regenerate them on each server start, you'll have to figure out a way of detecting changes. (Otherwise, what's the point of storing them on disk?)

If we do save it to disk, though, it would allow the game to generate HTML and could get rid of the external doc generator. How

[2015-08-28 19:11] davidsonbr commented on #342
If we do decide to use the new library hierarchy that I am working on in my permissions-overhaul then it would be easy to see what libraries the user has or does not have.

We could add a version tag to the library.json and have the documentation saved for that specific verison. Could potentially create a bunch of files which isn't good.

Documentation being saved per lib version it would be easy

[2015-08-28 19:12] Xandaros commented on #339
Having a window like that would probably be a good idea, but I disagree with the button being disabled for non-Linux users. For all we know, Mac has the same problem and overall it would be confusing to have different feature sets depending on OS. (Even if you can turn it on in settings)

Instead, just have it available to everyone. Closing the editor, navigating the spawn menu, etc. is annoying a

[2015-08-29 02:03] awilliamson commented on #337
@Xandaros, Wonder if GMod has any documentation about how much is too much for net. If we knew what the cap was, then we could just limit it to that?

[2015-08-29 15:46] awilliamson opened #347 "Refactor Error Handling / Instance changes"
Whilst doing other work I looked through the existing code for error handling. The interactions between entities, instance, and the SF Core is messy to put it lightly.

A refactoring would improve the ability to trace these errors, and improve tracebacks. Some Entity methods mimic Instance functions in their entirety with no real reason or added benefit.

I feel that Core, Instance, and Entity are

[2015-08-29 18:17] EpicG opened #348 "Code Style Formater"
Something like LuaDoc that can go through all / some code an format it into the proper code style.

[2015-08-30 13:38] awilliamson commented on #348
This is what we developed a little while ago, me and @Xandaros both use vim. If you can decipher this and convert to gsub for Lua, then good luck.

[code]

[2015-08-31 05:57] davidsonbr commented on #348
Dealing with braces strings is hurting my brain so I am going to wait on this.

[2015-08-31 18:31] awilliamson opened #349 "Permissions Error needs richer info"
When permissions error it should indicate which permissions check failed, otherwise the user may have a hard time debugging which call failed.

I understand that @EpicG is doing the permissions-overhaul at the moment, so just something to bear in mind.

[2015-09-01 05:46] awilliamson opened #350 "Multiple wire library errors"
SF.Throw is incorrect, certain logic about how errors are handled isn't working quite rightly.

[2015-09-01 07:10] awilliamson commented on #19
https://github.com/garrynewman/garrysmod/blob/master/garrysmod/gamemodes/sandbox/gamemode/spawnmenu/creationmenu/content/contenticon.lua#L188

https://github.com/garrynewman/garrysmod/blob/master/garrysmod/gamemodes/sandbox/gamemode/commands.lua#L575

Took a while to track down, managed to find the exact way in which it's done for SENTs in GMod. This should provide a good reference for correct own

[2015-09-01 07:49] awilliamson opened #352 "Entity/Hologram Ownership"
Things such as 'holograms' aren't having their ownership set correctly. This can lead to some permissions issues for non-superadmin players in certain domains where the prop-protect goes a bit odd.

INP server allows things such as setColour on a N/A entity, SF doesn't complain, the PP ( Nadmod ) then informs the person executing said code that they now own that 'prop'.

It's been reported that on

[2015-09-01 08:41] Divran commented on #352
http://ulyssesmod.net/archive/CPPI_v1-3.pdf

[2015-09-01 08:42] awilliamson commented on #352
Thanks @Divran :)

[2015-09-01 10:11] awilliamson opened #353 "SF assertion odd error pathway from Starfall_screen cl_init"
In starfall_screen's cl_init, we have an assertion after the sflib include.

[code]

I'm currently refactoring some tools that spawn the ents. Spawned a processor, and the error it gave was line 6 for cl_init on the screen! I presume because SF was malformed or some such due to a failure in SFLib.

I understand this will be hard to debug, especially without reproducible code. In my efforts to fix

[2015-09-02 07:58] awilliamson opened #354 "Move Holograms 'count' system onto GM?"
As holograms a full fledged, separate entities, 'starfall_hologram', even within GM, doesn't it make sense to use existing mechanisms from Sandbox to add to the count limit? This would then remove significant logic requirements from SF into GM.

The rate limiting would still be in SF, but max amount could easily be delegated to GM. This would then allow admins to more easily control the maximum nu

[2015-09-02 11:49] awilliamson opened #355 "Spawning hologram/ghost persists for 'seated' players."
The hologram used to show where a chip/screen will spawn remains even when a player enters a vehicle.

Discovered this when using the sit anywhere script. Also works in standard vehicles, where you can even move the position of the ghost.

Check if the player is not in a vehicle or other such states that would make spawning impossible, then remove?? the hologram. ( Not sure if removing and remakin

[2015-09-02 16:07] Jazzelhawk opened #358 "Timer error not helpful"
When running something like
[code]
The error in the console comes out normally but the hint popup comes out as:
``addons/starfall/lua/starfall/instance.lua:37: in function <addons/starfall/lua/starfall/instance.lua:36> [C]: in function 'xpcall'``

but should look something like this:

 ``SF:main:4: attempt to call global 'foo' (a nil value)``

[2015-09-02 16:13] #335 closed

[2015-09-02 17:58] Xandaros commented on #354
Just a thought: Do we still need the rate limiting with CPU time?

[2015-09-02 18:02] Xandaros commented on #352
The problem is, not all prop protection addons are CPPI compliant. It is a good idea to use the CPPI mechanisms if available, but maybe we should have a fallback for non-compliant addons.
(On the other hand... maybe they should just get a proper PP...)

[2015-09-02 18:03] Xandaros commented on #350
Is this still an issue with #351 merged?

[2015-09-02 19:48] suunr commented on #344
Why should it be independent from wiremod? Starfall doesnt work without wiremod, making a new editor is useless.

Some things i miss in configuration:
- setting tab size
- changing colors of keywords or other elements
- disabling wrapping of lines

I know that they're missing in the e2 editor too, but insteand of making a new editor, it would be better to focus on the existing one.

The DHTML pane

[2015-09-02 19:54] Xandaros commented on #344
You're right, it doesn't. But it should. Apart from the wire library, there is conceptually nothing tying starfall to wiremod, so why should it not work without it? Replacing the editor is but one step in the direction of independence, but a very important one. The editor is what was holding us back the most, the only calls to wiremod left are, to my knowledge, the rendering on the screens.

(Also

[2015-09-02 21:59] awilliamson commented on #350
Perhaps, I need to review how wirelinks are behaving. I think attempting to update chips that have wirelinks or some preprocs will error it.

[2015-09-02 22:19] awilliamson commented on #358
Sounds like a blame level too high to me.

[2015-09-03 14:16] Xandaros commented on #344
AltGr+Q doesn't close the editor for me, even with the quit keybind enabled, but when I type }, for example (AltGr+0), it does some folding stuff.
The editor, as it is, is useless with a German keyboard layout. Please make sure that your keybinds don't activate with AltGr. (Registered as both Ctrl and Alt, I think)

It also seems like undo is Ctrl+Y instead of Ctrl+Z, which... well, the E2 editor

[2015-09-03 14:26] Xandaros opened #361 "Editor depends on specific libraries"
The editor depends on very specific libraries to be available. See https://github.com/INPStarfall/Starfall/blob/develop/lua/starfall/editor.lua#L317

This should be made more general, dynamically loading available libraries.

[2015-09-03 14:30] Jazzelhawk commented on #361
Working on that at the moment

[2015-09-03 17:52] Jazzelhawk commented on #344
AltGr + Q shouldn't close the editor, the keybind is Ctrl + Q. Try that.
The AltGr+0 thing is fixed in this PR #359.
Other than that, any keybinds I have added don't use AltGr and the only keybinds on Ace which use Alt+Key are the folding ones ( which will be fixed in that PR )

[2015-09-04 01:57] awilliamson opened #362 "runRemote return broken"
Returning values in remote hooks doesn't work due to incorrect scoping.

If a chip returns nil in that hook, it will also block ALL other hooks if they return a value. This is due to a missing continue.

Remote erroring breaks the cleanup instance function as SF.Instance ~= self ( for some reason ), even when setting SF.Instance = k.

[2015-09-04 14:30] awilliamson opened #364 "Better Traceback/StackTrace"
Traceback returns a string, it's horrible, and only so much we can display from a single string.
I found the following:
https://github.com/ignacio/StackTracePlus

which provides a much nicer stack trace, and also advanced options such as adding known functions etc, which could be useful for SF-space erroring in the future.

The only thing which we can't implement is the io, everything else should

[2015-09-04 14:46] Damianu opened #365 "Font Change in editor"
Make some drop-down for selecting font and its in editor options, or at least size.. I can't even see what I am writing.

[2015-09-04 16:17] Jazzelhawk commented on #365
I don't think its possible to change the font easily but the font size would be an easy option to add.

[2015-09-04 17:18] EpicG opened #366 "starfall_screen/cl_init.lua requires the render library to be loaded."
When the context for the screen is created, it requires that the render library is loaded. If the library is not loaded then the context will be nil and produce errors when the player tries to create a screen.

[2015-09-04 19:36] #366 closed

[2015-09-05 02:42] #361 closed

[2015-09-05 02:42] #339 closed

[2015-09-05 02:59] EpicG opened #368 "Editor requires globaltables library to be loaded"

[2015-09-05 09:32] #368 closed

[2015-09-06 03:52] #365 closed

[2015-09-06 03:53] #344 closed

[2015-09-06 11:36] Damianu opened #372 "~ still not working on some keyboards"
I can't type ~ using polish keyboard layout in starfall. It opens console and doesnt write char. When I switch my key laout to english one it writes char but still opens console( I was trying with and without fix enabled)

[2015-09-06 13:44] suunrider opened #373 "Creating many timers results in crash"
[code]
Running this code will crash player clients. I didn't try it out serverside yet, but I think it will result in a crash too.
Maybe there should be some limit of timers?

[2015-09-06 14:44] Jazzelhawk commented on #373
I think you missed out something like `i = i + 1`. But yeah this needs to be sorted out as the amount of timers grows exponentially. I think the functions run by timers are not being checked for cpuTime properly therefore there is no CPU Quota being exceeded.

[2015-09-06 19:57] #373 closed

[2015-09-06 21:21] suunrider opened #375 "Lua error when editing empty file"
If you're in an empty file and press backspace it gives this error:
[code]

Editor doesn't break however.

[2015-09-06 21:39] Damianu opened #376 "Last commit weird quota behaviour"
I was working on my script using screens all the day, then I tested it - avg cpu time about 15% on hard use. Now after update it has 50% on idle.. I am not even doing something hard to render or whatever.. As I saw networking was taking much more cpu time than before.

[2015-09-06 21:42] awilliamson commented on #376
Cpu time checking wasn't accurate before. We've added additional checks to catch edge cases that slipped through causing unexpected bugs. It won't be that it's 'using' more than it was before, just that it's more accurately representing this to you.

CPU Quota-ing chips should be more stable now, at least that's my current hypothesis.

[2015-09-06 21:42] Xandaros commented on #376
It was not counting everything properly before. You will notice it to be a lot harsher now, because it is actually running properly :)

[2015-09-06 21:52] Damianu commented on #376
That's the thing, it randomly crashes. It does same every render frame, sometimes crashes after one second, sometimes work few minutes without hard quota..

[2015-09-06 21:55] awilliamson commented on #376
`( quotaUsed() < quotaMax() ) and ( quotaAverage() < quotaMax * 0.9 )`

Try the above as a quota function ( used in conjunction with coroutines ). In the brief testing done tonight, ships seem more stable. But obviously that's limited to what I've tried which is mainly prime number sieves on a processor.

[2015-09-06 22:02] Damianu commented on #376
http://i.imgur.com/P3Umf6B.png Code from examples for displaying quota + clear now has 3% of average usage, isn't it too much for such simple render of text?

[2015-09-06 22:03] awilliamson commented on #376
quotaUsed might be displaying 0 because you're calling the check from a 'render' hook. You need to gain data from 'think' and only display in 'render'.

[2015-09-06 22:04] Damianu commented on #376
Yeah, but it's the only code I used. Just example to see if simple 4 texts renders would have high average quota. 3% is too high for rendering 4 lines of texts on screen..

PS.Also for "better" counting. When you enable flashlight it's showing 2x more avg %(7-10).
Code I used for testing:http://pastebin.com/S1n3U50s.

[2015-09-07 00:12] Jazzelhawk commented on #372
I don't think there is anything I can do about this as it's most likely something to do with GMod internally opening the console.

[2015-09-07 03:21] davidsonbr commented on #372
You could change your console bind, or disable it.

~~I don't think this has anything to do with the SF editor though. I'll see if the E2 editor behaves the same way.~~

Edit: typing ` opens console. ~ on the other hand types ~. This is the default behavior outside any editors. So contrary to my previous beliefs, this is something to do with our editor.

[2015-09-07 10:24] Jazzelhawk commented on #372
For a UK Keyboard layout ` opens the console for me but for example on a US layout I have to press Shift + ` which types a ~ to open the console. If I switch to a Polish keyboard layout I press Shift + ` to type a ~ which does not open the console. But if you find a text box on the GMod menu ( Start New Game and then there is one in the bottom left ) and try to type the ~ on the Polish layout it o

[2015-09-07 10:30] suunrider opened #377 "Spelling mistake in codestyle guidelines"
"Use spaces before the argument list of a function definition.
E.g. ```fuction func ( var1, var2 ).```"
A "n" is missing.

[2015-09-07 10:33] suunrider opened #378 "Outdated Documentation"
On [sf.inp.io](http://sf.inp.io/) in preprocessor directives ```--@model``` and ```--@author``` is missing.

[2015-09-07 10:41] Jazzelhawk commented on #377
To add to this there is also this part:
local tbl2 = { "Multi-line", 2, lastVal }
which is not in a code block.

[2015-09-07 10:42] Jazzelhawk commented on #378
`--@inputs` and `--@outputs` are also missing. But this is because no documentation has been written for them in the `libs_sv/wire.lua` file.

[2015-09-07 11:05] suunr commented on #378
There's also no "Vehicle" type in "Types".

[2015-09-07 11:38] awilliamson commented on #378
Will look into it. Should be automatic, thanks for bringing it up.

[2015-09-07 11:39] awilliamson commented on #377
Wondered how long until somebody noticed it in an issue. It's been known for a while, not too critical.

[2015-09-07 16:06] #375 closed

[2015-09-07 18:00] suunrider opened #381 "Lua error when going in game"
[code]

[2015-09-07 18:06] awilliamson commented on #381
Are you up-to-date with develop branch? I've not experienced any errors with the editor on the latest code.

[2015-09-07 18:21] davidsonbr commented on #381
[The code in question](https://github.com/INPStarfall/Starfall/blob/develop/lua/starfall/editor.lua#L50) was resolved by me in #369.

I agree w/ @awilliamson

[2015-09-07 18:22] awilliamson commented on #381
Going to close this unless your problem still persists @suunrider ?

[2015-09-07 18:22] #381 closed

[2015-09-07 20:08] #377 closed

[2015-09-07 20:25] Damianu opened #382 "Higher max quota?"
Since quota is counted "right" I think that default max quota should be a bit higher.Because some scripts(wchich werent lagging or something) don't work now... So yeah, I really think increasing it a bit would be awesome and shouldn't be cause of lags.

[2015-09-07 20:32] awilliamson commented on #382
Just change the value of `sf_timebuffer`. If you find a value that seems fine you can suggest it. There's always a risk of setting a default too high. Obviously the higher the limit, and the higher the number of players, the more impact will have on the server without quota'ing.

[2015-09-07 20:43] Damianu commented on #382
Well I tested it already before, and 0.006 - 0.007 quota is like previous 0.004(in my scripts). And client quota 0.04 is working ok(if its too much you can try 0.035). I was testing it on 16 players running my script made before quota fix. I saw not even little lag(even when it was 100%), as for clients I asked few ppl to run that command on clientside and even people with really shitty PCs were f

[2015-09-07 21:06] suunrider commented on #373
Is it really only checking cpu time after execution? A program which writes to 10 cells in a highspeed device already exceeded CPU Quota.

[2015-09-07 21:11] awilliamson opened #383 "Editor Shenanigans"
Latest 'few' editor tweaks left me with odd behaviour in the editor. Certain broken cursor positions or input/output behaviour.

`[HTML] Uncaught TypeError: Cannot call method 'setScrollSpeed' of undefined`

This is causing the editor to be completely unusable. Treating insert as a copy/paste selection, then a copy/paste selection in multiple places. Unable to backspace. Ugh, it's a nightmare :c @

[2015-09-07 21:22] davidsonbr commented on #372
I rebound my console key to HOME to test its behavior.
- Outside of all editors
  - Pressing the HOME key results in console opening
  - Pressing Shift / Ctrl / Alt + HOME does not result in the console opening
- In E2 editor
  - Pressing the HOME key results in the home function being executed inside the editor; no console
  - Pressing Shift / Ctrl / Alt + HOME does not results in the proper func

[2015-09-07 21:41] awilliamson commented on #378
Author isn't 'really' a preprocessor as far as I know. It's just a carry over from when Col32 originally wrote Starfall and essentially copied E2 convention ( yikes ).

Mainly used in the new script stub, and is a useful 'nod' to the author of a script, as that's usually found within the 'header'.

@Jazzelhawk, I'll get to work on writing up the `--@inputs` and `--@outputs` pre-procs now.

[2015-09-07 21:54] suunr commented on #378
Wirelink/Highspeedlink type is missing too.

[2015-09-07 22:51] suunrider opened #385 "Holograms stay forever"
When the starfall chip exceeds CPU Quota while creating a hologram the hologram will stay forever there and there isn't an owner assigned to it (=you can't remove it).

[2015-09-07 23:11] awilliamson commented on #385
Ownership & CPPI stuff for holograms is currently pending #360.

To error 'during' creation should be incredibly rare. Tbh, something I've not really considered before. I know that holograms should clean up when a chip errors/is removed though.

[2015-09-08 00:01] Jazzelhawk commented on #372
This is nothing to do with console keybinds, it is to do with HTML panels.
You didn't even try the Polish keyboard layout... As I said Shift + ` types ~ on a Polish layout and does not open the console normally. Find a HTML panel which you can type into ( A standard one in GMod is the one on the Start New Game menu ) and press Shift + ` (~). It opens the console even though it is not a keybind.
Te

[2015-09-08 02:28] davidsonbr commented on #383
Getting this too now.

reconnecting solved the problem, unsure of what I did before it happened. :/

[2015-09-08 10:45] suunrider commented on #382
Some of the examples in data/starfall/examples aren't working anymore too.

[2015-09-08 10:47] awilliamson commented on #382
Hmm, ok. I will look into this today and aim to get the new quota pushed within the day.

[2015-09-08 12:17] #383 closed

[2015-09-08 12:43] Damianu commented on #382
Yeah just make sure to not test it on some simple scripts so fancy rendering would be possible(getting opinion of someone with lowend pc would be cool too so it wont be too high).

[2015-09-08 13:38] awilliamson opened #391 "DocGen JSON file huge"
JSON file is huge due to garbage being thrown in by LuaDoc. Things we don't ever parse in HTML or JSON, such as 'comment' and 'code' segments.

Current JSON file is 1.7M, this can be reduced to about 580K from current testing.

The docgen code is very 'messy', and I have an existing method for removing code and comment blocks, but it still does the processing for them as it's very coupled with oth

[2015-09-08 14:04] suunr commented on #378
In Hologram Type methods like :setMaterial and :setColor are missing.

In trace library maybe the masks/enumerations could be listed?
Also maybe a description of the result of the trace.

[2015-09-08 14:06] awilliamson commented on #378
Holograms ARE entities, they have all the functions as such. The current docgen system makes it a little tricky to label certain tables, and add floating descriptions. Will look into it though.

[2015-09-08 14:34] suunr commented on #378
In trace library it says for trace function's parameter "filter" : "Entity/array of entities to filter ". But filter must be always a table otherwise it doesn't work.

[2015-09-08 15:22] Damianu opened #392 "Missing render library in helper"
http://i.imgur.com/uLeaFx6.png

[2015-09-08 15:24] awilliamson commented on #392
The JSON on the server is slightly experimental. I'll regenerate the JSON output when I'm back at the PC.

This JSON file is what feeds the sf helper

[2015-09-09 10:39] awilliamson opened #394 "Editor interior locked windows unreachable"
If you lock a window completely inside another. Example is model viewer completely within the editor. Then when you focus the main editor, the model viewer will go behind it. But because it is locked, it's position will move as the parent element does. This means you have to cycle the toggle button to get the window back in front.

Notice the window is locked, inside the main editor
![Image showin

[2015-09-09 18:56] suunrider commented on #382
Please hurry up. None of my scripts work and starfall is unusable for me.

[2015-09-09 21:08] davidsonbr commented on #382
read the comments before you say this is unusable.
`sf_timebuffer 0.006` in console until it is fixed

[2015-09-10 00:14] awilliamson commented on #382
@suunrider Apologies, I've been a little busy with other more pressing bugs. As @EpicG suggested, just change the convar. It exists for a reason. `0.006` seems fine to me. It's mainly whether that value would suffice for server owners and their typical load. As a default, it could probably be pushed even higher, as I noticed plenty of room to spare when testing ( But I run a pretty empty, powerful

[2015-09-10 15:09] suunrider commented on #382
Other bugs? What is more important that it doesn't work? Locking model viewer makes window unreachable? Too huge json files which don't do anything?
You should focus more on that issue than the editor. Why would i care about an editor bug when i can't even run scripts properly?
@awilliamson, there's also a reason why I didn't use it. Not every server can do "sf_timebuffer 0.006" from day to day.
I

[2015-09-10 19:18] awilliamson commented on #382
@suunrider Watch your tone. Cpu time has convars for the exact reason that admins can change the config or that value and it will automatically update the value in real-time, no restart required. Yes, it may be a mild inconvenience to run this multiple times. When I say I have other pressing bugs, I really do.

Would you prefer me to leave a bug which breaks cpuTime checking altogether? I'm sure y

[2015-09-10 21:00] awilliamson commented on #385
This is still valid, please leave open.

[2015-09-10 21:02] awilliamson commented on #378
This is still valid, please keep open.

[2015-09-10 22:07] davidsonbr commented on #382
@suunrider You don't need to type `sf_timebuffer 0.006` in console every time you start.

If you are the admin, insert it into your GarrysMod/garrysmod/cfg/server.cfg file.

If you just play, ask an admin to change it. They will probably ask why to which you would respond with `https://github.com/INPStarfall/Starfall/issues/382`

[2015-09-11 13:52] #341 closed

[2015-09-12 21:19] awilliamson opened #399 "Implement new Vehicle changes 9/15 update"
According to http://www.garrysmod.com/updates/ a number of new and interesting vehicle methods have been introduced, as well as weapon methods.

These may be particularly useful to those who wish to create cars or have more control of user weaponry.

I believe we should start filtering interesting articles from the monthly updates to stay ahead of the game. As implementing methods by selecting the

[2015-09-14 00:57] awilliamson commented on #392
NVM, render is missing from actual docs at http://sf.inp.io. What even? Will investigate.

[2015-09-14 02:00] #392 closed

[2015-09-19 09:26] #382 closed

[2015-09-19 12:30] Jazzelhawk commented on #385
I was looking into this and created this script:

[code]

The chip sometimes quotas and the hologram doesn't get removed if it quotas when creating the hologram but most of the time the chip errors, the hologram doesn't get deleted and I get this in the console:

[code]

Can anyone else confirm this? Before I was getting a different error where `[ERROR]` was and it was a stacktrace which started f

[2015-09-19 21:07] #218 closed

[2015-09-20 00:55] awilliamson commented on #352
Fixed by #360

[2015-09-20 00:55] #352 closed

[2015-09-20 01:08] awilliamson commented on #376
Fixed by #403

[2015-09-20 01:08] #376 closed

[2015-09-27 02:31] McDunkinY opened #405 "Scripts hitting max quota very quickly."
Before a ( recent? ) update, all of my client-sided scripts worked correctly, but now they crash as soon as I spawn them. For example, I have a fully client-sided 3D library which I load onto another script and it crashes with something as minimal as drawing like ten rectangles. The time buffer values are still the default values so none of that has changed. I've plenty of years of experience with

[2015-09-28 01:05] Xandaros commented on #405
Likely caused by #374. Nothing we can do about it, though. Before that, the cpuTime counting got accidentally reset every now and then, allowing you to use a lot more time than you actually had. We recently changed the default value to 1.5x what it was before in #403 to counteract this a little.
Make sure you are actually using the new default. If that is not enough, all you can do is increase the

[2015-09-28 07:18] awilliamson commented on #405
I don't believe we changed the client convar in that update, only the server. It wasn't reported to us at the time that screens were hitting quota. Please do feel free to suggest a new value as @Xandaros mentioned.

It's hard to get these values correct as it all depends on the 'strength' of the server, how many people are currently playing, how much Lua is being ran usually, how many chips each p

[2015-09-28 07:45] Jazzelhawk commented on #405
I should mention that when I was making the new editor I found that convars only change when you set them from Lua or through the console and not when you create them as in #403. This means that although the new default is higher, all servers which had the previous default will have to manually change their convars.

[2015-10-03 19:00] #362 closed

[2016-05-10 16:59] ThatOneCheetah opened #407 "Wrappers are flawed"
The current wrapping system creates two tables, `sensitive2sf` and `sf2sensitive`, these tables have weak `values` and `keys` respectively, because of the way Starfall does caching by doing `sensitive2sf[value] = tbl` *(line 269 in sflib.lua)* I believe that the two weak tables 'reinforce' each other, thus never marking wrapped objects for garbage collection properly.

It seems that this is most n

[2016-05-11 16:41] awilliamson commented on #407
@ThatOneCheetah Thanks for bringing this up! Will definitely look into this. Didn't see your reference before, but I believe this could be because internally engine related stuff is being cleaned up - causing Lua refs to stop. However, non-engine stuff like Colour, Vector, and anything which just encapsulates basic lua tables isn't being garbage collected properly ( stray references somewhere??? )

[2016-05-11 20:31] ghost commented on #407
Confirmed GLua issue.

[code]

Seems to show the same leaks.

[2016-05-20 00:37] awilliamson opened #410 "File browser 'rename' causes item parent loss"
When renaming items in the file browser, if they are in a subfolder, rename will throw them in the root directory.

Expected behaviour should be to preserve the parent of the file, and simply to change the local name. Eg, `ekf/coroutine_manager` -> `ekf/CoroutineManager`. However, `/CoroutineManager` is what occurs.

Even renaming, and accepting the existing name will change parent.

[2016-05-20 17:15] #410 closed

[2016-05-21 00:13] awilliamson opened #413 "Core SF Code unused"
Functions such as `SF.iterScriptHook` aren't used really. As internally we use the Tbl alternative. There's a few cases within the core where functionality was added but is never used.

I'll be going through the Core to see what can be removed or factored out. Cutting the core down to a more manageable code base should improve readability and hopefully clear up the design, this then enables easier

[2016-05-21 23:23] #355 closed

[2016-06-22 19:55] Jazzelhawk opened #416 "Entity:unparent() is undocumented"
https://github.com/INPStarfall/Starfall/blob/develop/lua/starfall/libs_sv/entities.lua#L152

[2016-06-23 10:27] #416 closed

[2016-06-23 21:23] awilliamson opened #420 "Use of git submodules for docgen and other optional / developer based tools."
Having talked to @Jazzelhawk about potential Unit Tests, we discussed the use of git submodules. This would allows users the option to download the features if they wish to use them.
It would also separate out features into their own area, providing more concentrated support and issues.

[2016-07-23 20:56] #372 closed

[2016-07-27 23:41] Jazzelhawk commented on #407
Pretty sure this can be closed now right?

[2016-08-09 00:02] UNST4BL3 opened #423 ""Fix console bug" not fixing console bug."
I have the "fix console bug" option enabled, yet the console + main menu does not cease to open when I press the @ and ' key.

[2016-08-09 00:10] Jazzelhawk commented on #423
Make sure the version of Starfall you have downloaded is up to date. This was fixed in an editor update commit. Let me know if you sort your issue out.

[2016-08-09 00:16] ghost commented on #423
When was the update? We installed the addon onto the server merely hours ago.

[2016-08-09 00:34] Jazzelhawk commented on #423
[This commit](https://github.com/INPStarfall/Starfall/commit/15fe5e1aa4decf56d71d4dc2c42afacd3701ee49) removed the "fix console bug" option.

[2016-08-09 00:37] awilliamson commented on #423
@UNST4BL3 Did you download directly from Github by doing the following:

`git clone git@github.com:INPStarfall/Starfall.git` directly in your addons folder?

[2016-08-09 00:42] ghost commented on #423
I am playing on a multiplayer server, and had no part in the installation. This is the only place he could have installed it from, correct?

[2016-08-09 00:47] awilliamson commented on #423
@UNST4BL3 Ensure that the installation is up-to-date with the repository, downloading fresh from GitHub would be the most advisable solution. There are forks of Starfall, it is possible you may have an outdated copy or a unofficial version.

[2016-09-06 19:00] UNST4BL3 opened #424 "Code uneditable."
Another editor bug.
I am unable to edit whatever code I have. Backspace has the same effect as left arrow key, and I am unable to type new characters. Shortcuts such as CTRL+C and CTRL+V work.

There's some text at the bottom of the editor that says "(recording)[]" that might have something to do with it.

Thanks.
(I believe I tried reinstalling, via deleting the file from the addons folder)

[2016-09-06 19:09] Jazzelhawk commented on #424
The text at the bottom of the editor sounds like you may have enabled macro recording. Looking at https://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts the keybind to start that is "Ctrl-Alt-E" so try pressing it again and see if that works.

[2016-09-06 20:06] ghost commented on #424
Closing this issue. I grew impatient and reinstalled my game. Hopefully it won't reoccur. Thanks and sorry I couldn't find the problem for you guys to fix, though it's likely what Jazzelhawk suggested.

[2016-09-06 20:06] #424 closed

[2016-09-06 21:02] UNST4BL3 opened #425 "Highlighting getting stuck on."
I know these editor bugs are getting annoying by now, especially since no solution is being found. This is on a completely, fresh, clean install.

Sometimes when I highlight a line by holding Mouse 1, it will "toggle", and I will have to click again to stop highlighting. This happens pretty much constantly which is very frustrating.

I still have the console bug too, but no solution for that was f

[2016-09-06 22:21] Xandaros commented on #425
If you let go of the button outside the window, we can't detect it. We can only detect you letting go of the button when it's over the window.
So, I don't think there's anything we can do about it, but maybe @Jazzelhawk has an idea.

[2016-09-06 22:21] awilliamson commented on #424
@UNST4BL3 I'd just like to point out that GitHub issues aren't for the short of '24/7 live support' issues. @Jazzelhawk responded within 9 minutes originally. It helps if you work with us in finding the cause of your problem. I understand it can be frustrating, but if somebody else looks at this issue, they won't find a solution, and that doesn't help anybody. So by spending a little time working

[2016-09-07 00:39] Jazzelhawk commented on #425
When you say you have a completely fresh, clean install, are you still connecting to a server? If so then the console bug is most likely due to the server running an outdated version or an unofficial version/fork. Refer to #423

As for the highlighting getting stuck, it might be possible to detect whether the cursor position is within the bounds of the editor panel and then manually send some kind

[2016-11-12 14:15] UNST4BL3 opened #426 "require() / --@include not working for some files."
My issue goes like this:

I have a set of libraries in lib/
I have an a script in fun/ which requires lib/stringLib.txt.
I also have a script in tools/ which requires both lib/stringLib.txt and lib/tableLib.txt

I am using --@include and require() as I'm supposed to.

For some reason, the script in tools/ is able to require both libraries, however the script in fun/ cannot require lib/stringLib.tx

[2018-02-18 01:35] bbblitz opened #428 "Opening editor fails"
Attempting to open the starfall editor errors with the client side error:

[code]

[2018-02-18 01:41] bbblitz commented on #428
A similar error happens when opening processor:
[code]

[2018-02-18 01:55] bbblitz commented on #428
Tried to reproduce with all other addons turned off, seems like it's conflicting with another addon somewhere, sorry for the trouble.

[2018-02-18 01:55] #428 closed

[2022-11-20 09:04] NoAccountNameHere opened #430 "attempt to call method 'setHealth' (a nil value)"
--@name Healer
--@author No_Name_Here
--@model models/Items/HealthKit.mdl
--@client

g = false

timer.create ("heathcheck", 0.0000000000000000000000000000000000000000000000000000000000000000001, 0, function()
if owner():getHealth() <= 99 then
g = true
else g = false
end
if g == true then
    owner():setHealth (100)
    g = false
end
end
)

timer.start ("healthcheck")

new code

[2022-11-20 19:09] #430 closed